.out
	min-width: 320px 
	&_mod
		padding: 0 0 46px	
	&_header
		padding: 79px 0 0
		padding: 60px 0 0
		+r1
			padding: 60px 0 0 	
	&-globe
		overflow: hidden
		#globeHolder
			top: -40px
			left: -4%
			width: 1200px
			height: auto
			bottom: -40px
			right: auto
			@media only screen and (max-width: 1400px)
				left: -150px
			+r1
				width: 1000px
				left: -90px
			+r2
				width: 700px
				height: 700px
				top: auto
				left: auto
				bottom: auto
			+r3
				width: 500px
				height: 500px
			+r4
				width: 320px
				height: 320px

//PROMO (team_all-v2)					
.promo
	+vertical
	background: url(../img/team.jpg) no-repeat center center
	+cover
	height: 500px
	position: relative
	&:after
		content: "" 
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(#000, 0.5) 
	&__inner
		display: inline-block
		vertical-align: middle
		width: 100%
		position: relative
		max-width: 800px 
		z-index: 1
		padding: 0 15px 
	&__title
		margin-bottom: 30px
		+bold
		color: #fff
		font-size: 60px
		text-transform: uppercase
		letter-spacing: 0.02em 
		line-height: 1
		+r3
			font-size: 45px
		+r4
			font-size: 30px
	p
		+gp
		color: #fff
		font-size: 20px
		letter-spacing: 0.02em 
		+r4
			font-size: 16px

.team
	+clr
	border-right: 1px solid #878787
	border-bottom: 1px solid #878787

//person (team_all-v2)				
.person
	width: 25%
	height: 0
	padding-bottom: 32%
	float: left
	position: relative
	font-size: 0
	overflow: hidden
	cursor: pointer
	border-top: 1px solid #878787
	border-left: 1px solid #878787
	+r1
		width: 33.33%
		padding-bottom: 42%
	+r3
		width: 50%
		padding-bottom: 64% 
	&__inner
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		&:hover
			img
				&.is-hide
					opacity: 1
			.person__info
				opacity: 1
				visibility: visible
	img
		width: 100%
		&.is-hide
			position: absolute
			top: 0
			left: 0
			opacity: 0
			transition: opacity 0.4s ease
			will-change: opacity
	&__info
		position: absolute
		bottom: 0
		left: 0
		right: 0
		color: #fff
		text-align: center
		line-height: 1
		padding: 0 0 37px 
		z-index: 1
		visibility: hidden
		opacity: 0
		transition: opacity 0.4s ease, visibility 0.4s ease
		will-change: opacity
		+r4
			padding: 0 0 20px 
	&__title
		+bold
		font-size: 24px
		margin-bottom: 10px
		+r4
			font-size: 16px
	&__label
		+reg
		font-size: 14px
		text-transform: uppercase
		+r4
			font-size: 12px

//Banner (team_profile)				
.banner
	color: #fff 
	background-color: #7acde6
	&__inner
		max-width: 1200px
		margin: 0 auto
		padding: 48px 15px 0 385px
		position: relative
		+clr 
		+r2
			padding: 61px 0 0
			max-width: 800px
	.social
		margin: 0 -7px 0 0
		float: right 
		+r2
			position: absolute
			bottom: 25px
			right: 15px
			left: 15px
			text-align: right
			margin: 0
		li
			+r2
				padding: 0 0 0 10px 
	&__img
		position: absolute
		bottom: 0
		left: 15px
		max-width: 400px
		max-height: 100% 
		+r2
			position: static
			display: block
			max-width: 50%
			width: 200px
	&__text
		overflow: hidden	
		padding: 145px 0 99px 30px 
		position: relative
		+r2
			padding: 30px 15px 20px
			position: static
	&__title
		+semi
		font-size: 38px
		line-height: 1
		margin-bottom: 6px
		overflow: hidden
		+r3
			font-size: 28px
	&__label
		display: block
		letter-spacing: 0.02em 
		opacity: 0.8
		+semi
		font-size: 16px
		text-transform: uppercase
		margin-bottom: 20px
		+r3
			font-size: 14px
	&__info
		font-size: 0
		margin-bottom: 20px
		+r4
			margin-bottom: 10px
		li
			display: inline-block
			vertical-align: top
			+semi
			text-transform: uppercase
			margin-right: 33px
			white-space: nowrap
			+r4
				margin: 0 0 10px
				display: block
			span, i, img
				display: inline-block
				vertical-align: middle
			span
				font-size: 13px
				white-space: normal
			i
				opacity: 0.7
				margin-right: 8px
				&.icon-plane
					font-size: 9px
				&.icon-earth
					font-size: 14px
				&.icon-comments
					font-size: 14px
			img
				max-width: 30px
				max-height: 20px
				margin-right: 8px
				opacity: 0.7
	p
		+gp
		color: #fff
		font-size: 20px
		letter-spacing: 0.02em 
		+r4
			font-size: 16px

.social
	font-size: 0
	li
		display: inline-block
		padding: 0 7px
		vertical-align: top
		a
			display: block
			width: 36px
			height: 36px
			text-align: center
			color: #fff 
			transition: background 0.25s
			border-radius: 50%
			+vertical
			+r3
				width: 30px
				height: 30px
			&.is-fb
				background-color: #4c66a4
				&:hover
					background-color: #5770ab
				i
					font-size: 14px
			&.is-vk
				background-color: #3b6798
				&:hover
					background-color: #4672a3
				i
					font-size: 9px
			&.is-instagram
				background-color: #517fa6
				&:hover
					background-color: #5e8ab0
				i
					font-size: 12px
			i
				display: inline-block
				vertical-align: middle

//main (team_profile)
.main
	+clr
	&-globe
		overflow: hidden
.inner
	max-width: 1200px
	margin: 0 auto 
	+clr
	padding: 70px 15px 10px
	+r2
		max-width: 800px
				
.sidebar
	width: 33%
	padding: 0 0 0 15px 
	float: right
	+r2
		float: none
		width: 100%
		padding: 0
	&__box
		padding: 0 0 14px 
	&__title
		+semi
		color: #333
		font-size: 14px
		text-transform: uppercase
		line-height: 1
		position: relative
		overflow: hidden
		margin-bottom: 12px
		span
			position: relative
			padding: 0 20px 0 0
			background: #fff  
			&:after
				content: "" 
				position: absolute
				left: 100%
				border-top: 1px solid #eee
				width: 1000px 
				margin-top: 6px

.news
	padding: 10px 0 15px 
	max-width: 340px
	+r2
		max-width: 100%
	&__inner
		display: block
		+semi
		+clr
	img
		width: 100%
		height: 100%
	&__left
		float: left
		width: 70px
		height: 70px
		margin: 0 15px 0 0
		position: relative
		+r1
			width: 65px
			height: 65px
			margin: 0 10px 0 0
		&:hover
			.news__icon
				color: #2d7fc9 
		&.is-white
			.news__icon
				color: #FFF 
				text-shadow: 0 0 2px rgba(0, 0, 0, 0.4)
		&-in
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			+vertical
	&__icon
		display: inline-block
		vertical-align: middle
		+semi
		color: #8c8c8c
		font-size: 14px
		line-height: 22px
		letter-spacing: 0.02em
		transition: all 0.25s ease
		i
			margin: 0 4px 0 0
			float: left 
			&.icon-like, &.icon-dislike
				font-size: 18px
			&.icon-comments
				font-size: 18px
			&.icon-share
				font-size: 15px
		span
			display: block
			overflow: hidden
	&__block
		overflow: hidden
	&__info
		font-size: 0
		padding-bottom: 3px
		li
			display: inline-block
			vertical-align: top
			color: #8c8c8c
			font-size: 13px
			line-height: 20px
			letter-spacing: 0.02em 
			padding: 0 18px 0 0
			position: relative
			+r1
				font-size: 12px
			+r4
				padding: 0 14px 0 0 
			&:last-child
				padding: 0 
				&:before
					display: none
			&:before
				content: "" 
				position: absolute
				top: 50%
				right: 8px
				width: 2px
				height: 2px
				background: #8c8c8c 
				margin-top: -1px
				+r4
					right: 6px
			a
				color: #8c8c8c
				transition: all 0.25s ease
				&:hover
					color: #333
	p
		font-size: 17px
		color: #333
		letter-spacing: 0.02em 
		line-height: 1.2
		+r1
			font-size: 15px
		a
			color: #333 
	&.news_alt
		padding-top: 0
		padding-bottom: 0  
		.news__left-over
			display: none
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: #d73872    
			text-align: center
			color: #fff 
			font-size: 13px 
			padding-top: 28px 
		&:hover
			.news__left-over
				display: block
				i
					animation: move1 1.1s infinite linear
					position: relative
		p
			margin-bottom: 0 
		.news__block
			p
				+semi
				font-size: 17px 
				color: #fff 
				a
					color: #fff
		.news__info
			li
				&:before
					background: #c1e3ed 
				a
					color: #c1e3ed 
					&:hover
						color: #fff 
		
.container
	width: 67%
	float: left
	padding: 0 15px 0 0 
	+r2
		width: 100%
		float: none
		padding: 0

.js-popup-btn
	cursor: pointer
	
.post
	padding: 0 0 60px 
	+r4
		padding: 0 0 40px 
	.user
		margin-bottom: 17px
	.title-h3
		margin-bottom: 14px
	&__container
		p
			color: #333
			+gpmed
			font-size: 18px
			line-height: 24px
			letter-spacing: 0.02em
			margin-bottom: 15px
			+r4
				line-height: 1.3
	&__img
		position: relative
		margin: 0 0 20px 
		transition: opacity 0.2s
		&:hover
			opacity: 0.85 
		img
			max-width: 100%
			display: block
		.sticker
			position: absolute
			top: 20px
			left: 20px
	.lil-info
		li
			margin-bottom: 10px
	&__partner
		position: absolute
		top: 63px
		left: 20px
		img
			width: auto
	&-quote
		position: relative
		background-color: #7acde6
		+clr
		margin-bottom: 20px
		min-height: 370px 
		&__img
			position: absolute
			bottom: 0
			left: 0
			width: 39%
			padding: 0 0 0 19px
			font-size: 0
			text-align: center
			+r3
				width: 100%
				padding: 0 20px 
				position: static
			img
				max-width: 100%
				max-height: 393px 
		&__info
			float: right
			width: 72%
			position: relative
			z-index: 2 
			padding: 63px 63px 65px
			text-align: center
			+r3
				width: 100%
			+r4
				padding: 30px 20px 
		&__title
			color: #7acde6
			+bold
			font-size: 13px
			line-height: 1
			text-transform: uppercase
			background: rgba(white, 0.9)
			padding: 8px 14px 5px
			display: inline-block 
		&__name
			color: #d0eef7
			font-size: 18px
			line-height: 1
			+semi
		&__blockquote
			position: relative
			padding: 43px 0 53px
			+r4
				font-size: 18px
				line-height: 1.3
				padding: 20px 0 
			&:before, &:after
				color: #bfe8f4
				font-size: 108px
				line-height: 25px
				+reg
				position: absolute
				+r4
					font-size: 60px
			&:before
				content: "\201c"
				top: 43px
				right: 100%
				margin-right: -7px
				+r4
					top: 20px
			&:after
				content: "\201d"
				bottom: 0
				left: 100%
				+r4
					margin-left: -10px
					bottom: -10px
			p
				color: white
				+gpmed
				font-size: 24px
				line-height: 34px
				margin: 0
				padding: 0
				
.video
	position: relative
	width: 100%
	height: 0
	padding: 0 0 66%
	margin: 0 0 20px 
	iframe
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		
.map
	width: 100%
	height: 0
	padding: 0 0 50%
	position: relative 
	margin: 0 0 20px 
	+r4
		padding: 0 0 70% 
	&__inner
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		
.fb-post
	width: 100%
	iframe, span
		width: 100% !important

.lil-info
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		padding: 0 20px 0 0 
		position: relative
	a
		+semi
		color: #8c8c8c
		font-size: 14px
		line-height: 22px
		letter-spacing: 0.02em
		padding: 0 0 0 25px
		position: relative 
		display: inline-block
		transition: all 0.25s ease
		&.is-like, &.is-dislike, &.is-comments, &.is-share
			i
				position: absolute
				top: 50%
				left: 0
		&.is-like, &.is-dislike
			i
				font-size: 18px
				margin-top: -9px
		&.is-like
			&:hover
				color: #2d7fc9
		&.is-dislike
			&:hover
				color: #333
		&.is-comments
			&:hover
				text-decoration: underline
			i
				font-size: 16px
				margin-top: -8px
		&.is-share
			&:hover
				text-decoration: underline
			i
				font-size: 15px
				margin-top: -8px
	&_white
		a
			color: #fff

.tags
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		padding: 0 5px 0 0 
	a
		color: #8c8c8c
		+gp
		font-size: 16px
		line-height: 28px
		letter-spacing: 0.02em
		transition: all 0.25s ease
		&:hover
			color: #333

.user
	font-size: 0
	&__inner
		display: inline-block
		color: #8c8c8c
		font-size: 13px
		line-height: 18px
		letter-spacing: 0.02em 
		+clr
	&__img
		float: left
		margin: 0 10px 0 0
		width: 40px
		height: 40px
	&__block
		overflow: hidden
		padding: 1px 0 0
	&__name
		+semi
	&__info		
		font-size: 0
		padding-bottom: 3px
		li
			display: inline-block
			vertical-align: top
			padding: 0 18px 0 0
			position: relative
			+reg
			font-size: 13px
			&:last-child
				&:before
					display: none
			&:before
				content: "" 
				position: absolute
				top: 50%
				right: 8px
				width: 2px
				height: 2px
				background: #8c8c8c 
				margin-top: -1px
				
.long
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	position: relative
	height: 768px
	+vertical
	+r3
		height: auto
		padding: 30px 0 
	&:after
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		background: rgba(#000, 0.4)
		content: ""
	&__inner
		position: relative
		z-index: 2
		max-width: 1200px
		width: 100%
		+clr
		padding: 0 15px 
		display: inline-block
		vertical-align: middle
		text-align: left
		+r2
			max-width: 800px
	&__date
		display: inline-block
		opacity: 0.8
		+bold
		color: #fff
		line-height: 28px
		font-size: 0
		margin: 0 0 2px 
		+clr
		time			
			font-size: 20px
			padding: 4px 0 0 10px
			display: block
			overflow: hidden
			+r3
				font-size: 16px
		i
			font-size: 9px
			width: 38px
			height: 38px
			line-height: 36px
			border: 2px dashed white
			text-align: center
			border-radius: 50%
			float: left
			+r3
				width: 30px
				height: 30px
				line-height: 30px
	&__title
		color: #fff
		+bold
		font-size: 74px
		text-transform: uppercase
		margin: 0 0 6px 
		+r2
			font-size: 60px
		+r3
			font-size: 40px
	&__text
		padding: 0 0 15px 
		p
			color: white
			+gpmed
			font-size: 24px
			line-height: 28px
			max-width: 705px
			letter-spacing: 0.02em 
			+r3
				font-size: 20px
				line-height: 1.3em
	.lil-info
		margin-bottom: 55px
		+r3
			margin-bottom: 25px
			
.lil-post
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		padding: 0 10px 10px 0 
	&__inner
		display: inline-block
		max-width: 270px
	&__img
		width: 70px
		height: 70px
		margin: 0 15px 0 0
		float: left
		img
			width: 100%
			height: 100%
	p
		overflow: hidden
		color: white
		+semi
		font-size: 16px
		line-height: 1.2
		padding: 7px 0 6px 
		
.row
	background: #f5f5f5 
	&__inner
		max-width: 1200px
		padding: 60px 15px 60px 
		margin: 0 auto 
		+r2
			max-width: 800px
	.title-h3
		margin: 0 0 10px 
.cols
	margin: 0 -15px
	+clr

.col
	width: 25%
	float: left
	padding: 10px 15px 
	+r2
		width: 50%
	+r4
		width: 100%
	&__img
		position: relative
		font-size: 0
		margin: 0 0 16px 
		height: 0
		padding: 0 0 67%
		-webkit-background-size: cover 
		-o-background-size: cover 
		background-size: cover 
		background-position: center center
		background-repeat: no-repeat  
		// height: 180px
		// overflow: hidden
		img
			width: 100%
	.sticker
		position: absolute
		top: 20px
		left: 20px
	p
		+semi
		color: #333
		font-size: 20px
		line-height: 1.2
		margin: 0 0 11px 
		+r4
			font-size: 16px
	&_mod
		width: 33.33%
		+r2
			width: 50%
		+r4
			width: 100%
.sticker
	+bold
	color: #fff
	font-size: 13px
	line-height: 24px
	text-transform: uppercase
	padding: 2px 14px 0
	display: inline-block
	&.is-green
		background-color: #39bc7a
	&.is-purple
		background-color: #8067b8
	&.is-red
		background-color: #f02c5a
	&.is-yellow
		background-color: #f6cd52
	&.is-blue
		background-color: #229fff

.date
	+clr
	padding: 50px 15px 
	max-width: 1200px
	margin: 0 auto 
	position: relative
	+r2
		max-width: 800px
	&:before
		content: "" 
		position: absolute
		bottom: 0
		left: 15px
		right: 15px		
		border-bottom: 1px solid #eee 
	&__day
		float: left
		+bbold
		color: #2d7fc9
		font-size: 180px
		line-height: 1
		text-transform: uppercase
		+r2
			font-size: 155px
		+r3
			font-size: 118px
	&__info
		overflow: hidden
		padding: 24px 20px 25px 
		span, time, small
			display: block
			line-height: 1
		span, small
			+bold
		span
			color: #d93472
			font-size: 50px
			text-transform: uppercase
			margin: 0 0 23px 
			+r2
				font-size: 40px
			+r3
				font-size: 30px
		time
			color: #b1b1b1
			font-size: 16px
			+semi
			margin: 0 0 5px 
		small
			color: #333
			font-size: 40px
			+r2
				font-size: 30px
			+r3
				font-size: 18px
			
.photos
	margin: 0 -6px
	font-size: 0
	padding: 0 0 10px 
	&__inner
		position: absolute
		top: 0
		left: 5px
		right: 5px
		bottom: 0
		+cover
	&__medium, &__small
		display: inline-block
		vertical-align: top
		margin: 0 0 10px 
		position: relative
		transition: opacity 0.2s
		height: 0
		padding: 0 0 33.33% 
		position: relative
		&:hover
			opacity: 0.85 
		img
			width: 100%
	&__medium
		width: 50%
		+r4
			width: 100%
	&__small
		width: 33.33%
		&:last-child
			width: 33.34%
	&__link
		position: absolute
		top: 0
		left: 5px
		right: 5px
		bottom: 0
		transition: all 0.25s
		+vertical
		background-color: rgba(0, 0, 0, 0.5)
		span
			display: inline-block
			vertical-align: middle
			color: #fff
			+semi
			font-size: 56px
			line-height: 1
			
.road
	background-color: #73c5df
	position: relative
	&__inner
		max-width: 1200px
		padding: 145px 15px 105px
		margin: 0 auto
		position: relative
		+r2
			max-width: 800px
		+r3
			padding: 105px 15px 50px 
	&__info
		max-width: 570px
		img
			max-width: 100%
			display: block
			margin-bottom: 30px
	&__text
		margin-bottom: 23px
		max-width: 530px
		+r4
			margin-bottom: 15px
		p
			font-size: 18px
			line-height: 24px
			+gpmed
			color: #fff 
			letter-spacing: 0.02em 
			+r4
				line-height: 1.3
				font-size: 16px
	&__creater
		position: absolute
		bottom: 15px
		right: 40px
		+r3
			right: 15px
		small, span
			display: block
			line-height: 18px
			color: white 
		small
			font-size: 12px
			+semi
		span
			font-size: 16px
			+bold
	.btn-bottom
		position: absolute
		bottom: 62px
		left: 15px
		+r3
			position: relative
			bottom: auto
			left: auto
			display: block
.btn-bottom
	font-size: 12px
	color: #fff
	width: 27px
	height: 27px
	position: relative
	&:hover
		i
			top: 10px
	i
		position: absolute
		top: 7px
		left: 0
		transition: top 0.2s
.sticky-road
	background-color: #2f373e
	position: fixed
	bottom: 0
	left: 0
	right: 0
	font-size: 0
	z-index: 900
	padding: 8px 40px 
	min-width: 320px 
	opacity: 0
	visibility: hidden
	transition: opacity 0.25s, visibility 0.25s
	+r1
		padding: 8px 15px 
	&.is-active
		opacity: 1
		visibility: visible
	i
		color: #8e98a1
		&.icon-prev, &.icon-next
			font-size: 30px
		&.icon-marker
			font-size: 12px
			line-height: 26px
			width: 30px
			height: 30px
			border: 2px solid #8e98a1
			border-radius: 50%
			text-align: center
	i, span
		transition: color 0.25s, border-color 0.25s
	&__prev
		float: left
	&__next
		float: right
		text-align: right
		i
			margin-left: 7px
			float: right
	&__current
		text-align: center
		display: block
		overflow: hidden	
		a
			color: #e0e0e0	
		i
			border-color: #e0e0e0	
			color: #e0e0e0	
			+r3
				display: none
	&__current, &__prev
		i
			margin-right: 7px
			float: left
	&__current, &__prev, &__next
		a
			display: inline-block
		span
			font-size: 14px
			+bold
			display: block
			overflow: hidden
			-ms-text-overflow: ellipsis
			text-overflow: ellipsis
			white-space: nowrap
			line-height: 30px
	&__prev, &__next
		width: 33.33%
		+r3
			width: 40px
		a
			color: #8e98a1
			&:hover
				i
					border-color: #e0e0e0
				i, span
					color: #e0e0e0	
		span
			+r3
				display: none
		i
			+r3
				margin: 0
@keyframes move2
	0%
		top: -3px
	50%
		top: 3px
	100%
		top: -3px
@keyframes move1
	0%
		top: 7px - 10px
	50%
		top: 14px - 10px
	100%
		top: 7px - 10px
@keyframes move
	0%
		top: 3px
	50%
		top: 18px
	100%
		top: 3px

.route
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)  
	background: rgba(#d73872, .9)
	border-radius: 6px 
	padding: 14px 12px 19px 12px
	text-decoration: none
	opacity: 0
	color: #fff 
	.globenew:hover &
		opacity: 1 
	a
		text-decoration: none
	&__where
		display: block
		text-align: center
		border-bottom: 2px solid #ee719f 
		padding-bottom: 14px 
		font-size: 12px 
		+reg
		margin-bottom: 19px 
	&__more
		font-size: 18px 
		+bold
		color: #fff 
		display: block
		text-align: center
		padding: 0 10px 
		i
			color: #efafc7
			font-size: 24px  
			margin-right: 14px 
			display: inline-block
			vertical-align: middle
			position: relative
			top: -4px 
	
//globe
.globe
	+clr
	position: relative	
	background-color: #73c5df
	// min-height: 100vh 
	padding-bottom: 20px 
	+r(800)
		display: none
	.globenew
		font-size: 20px 
		color: #fff 
		// border: 2px solid #f00
		min-height: 635px 
		float: right
		padding-top: 0px 
		width: 100%
		width: 635px 
		height: 635px 
		position: relative
		+r(630)
			width: auto
			height: auto
			min-height: auto 
		img,video
			width: 100% 
			max-width: 635px 

	&__inner
		padding: 165px 15px 150px 
		max-width: 1200px
		margin: 0 auto 
		position: relative
		+r2
			padding: 0 15px 50px 
		+r4
			padding: 0 15px 20px 
		img
			width: 100%
			// max-width: 532px
			display: block
			width: 598px 
			margin-bottom: 60px
			+r2
				margin: 0 auto 60px
			+r4
				margin-bottom: 25px
	p
		max-width: 500px
		color: white
		+gpmed
		font-size: 22px
		line-height: 24px
		letter-spacing: 0.02em 
		// margin-bottom: 50px
		+r2
			margin: 0 auto 50px 
		+r4
			font-size: 16px
			line-height: 1.3
			margin: 0 0 25px
			max-width: 100%
	&__text
		max-width: 550px
		position: relative
		z-index: 15
		+r2
			max-width: 100%
			text-align: center
		+r4
			text-align: left
	&__info
		font-size: 0
		margin-bottom: 47px
		+r4
			margin-bottom: 9px
		li
			padding: 0 0 16px 
		a
			position: relative
			display: inline-block
			color: white 
			i
				float: left
				width: 38px
				height: 38px
				border: 2px solid white
				border-radius: 50%
				opacity: 0.6
				font-size: 16px
				line-height: 34px
				text-align: center
				margin: 0 10px 0 0 
				+r4
					font-size: 14px
					width: 30px
					height: 30px
					line-height: 26px
			span
				display: block
				overflow: hidden
				font-size: 16px
				+semi
				line-height: 1
				padding: 12px 0 10px
				+r4
					font-size: 14px
					padding: 9px 0 7px 
	&__next
		position: relative
		color: #fff
		max-width: 260px
		display: block
		padding: 0 0 0 40px 
		+r2
			text-align: left
		&:hover
			i
				// top: 10px
			span
				opacity: 1
		i
			position: absolute
			top: 3px
			left: 0
			// transition: top 0.2s
			font-size: 12px
			animation: move 1.1s infinite linear
		span
			opacity: 0.8
			font-size: 14px
			line-height: 18px
			+reg
			display: block
			transition: opacity 0.2s
	&__creater
		position: absolute
		bottom: 115px
		right: 40px
		z-index: 15
		+r2
			bottom: 50px
		+r3
			right: 15px
		+r4
			position: static
			float: right
			padding: 0 15px 30px 
		small, span
			display: block
			line-height: 18px
			color: white 
		small
			font-size: 12px
			+semi
		span
			font-size: 16px
			+bold


.live-row
	padding: 32px 0 26px
	background-color: rgba(#62b3cd,.3)
	position: absolute
	z-index: 15
	bottom: 0
	left: 0
	right: 0   
	overflow: hidden
	
	&__inner
		max-width: 1200px
		margin: 0 auto
		+clr
		position: relative
		z-index: 2
	&__button
		width: 33%
		float: left
		a
			height: 59px
			background-color: #d73872
			border-radius: 6px
			display: inline-block
			text-decoration: none
			color: #f7d7e3 
			font-size: 18px 
			line-height: 59px
			padding: 0 22px 0 17px
			position: relative
			top: 3px 
			+bold
			i
				font-size: 13px 
				margin-right: 13px 
				position: relative
				animation: move1 1.1s infinite linear
				margin-top: -10px 
			&:hover
				color: #fff 
				background: #ca2a64 
	&__news1,&__news2
		width: 33%
		float: left
		position: relative
		min-height: 70px 
		.tohide,.toshow
			position: absolute
			top: 0
			left: 0
			transition: all 1.5s linear 5s
		.toshow
			top: -140px 
			.a &
				top: 0 
		.tohide
			.a &
				top: 140px 

.text-row
	padding: 25px 0 50px
	background-color: #6dc3de
	position: relative
	z-index: 15
	&__inner
		max-width: 1200px
		margin: 0 auto
		+clr
		position: relative
		z-index: 2
.text-col
	width: 50%
	padding: 20px 15px 0
	float: left
	+r3
		width: 100%
	p
		max-width: 540px
		color: white
		+gpmed
		font-size: 18px
		line-height: 24px
		letter-spacing: 0.02em 
		+r3
			max-width: 100%
		+r4
			font-size: 16px
			line-height: 1.3

//pag-calendar
.calendar
	min-height: 100%
	position: relative
	padding: 79px 0 0 
	background-color: rgba(17, 17, 18, 0.72)
	+r1
		padding: 60px 0 0 
	&__items
		position: relative
		z-index: 5
	&-item-wrap
		border-bottom: 1px solid #535658  
	&-item
		+clr
		transition: background 0.25s
		color: #fff 
		display: block
		line-height: 1
		padding: 43px 0 40px
		position: relative
		cursor: pointer
		+r3
			padding: 20px 0
		&:hover
			background: rgba(#111112, 0.5)
			.icon-next
				opacity: 0.7
		&.is-active
			background: rgba(#111112, 0.5)
			.icon-close
				opacity: 0.7
			.icon-next
				opacity: 0
		.icon-next, .icon-close
			position: absolute
			top: 50%
			right: 37px
			margin-top: -18px
			font-size: 14px
			opacity: 0
			text-align: center
			transition: opacity 0.25s
			+r1
				right: 15px
			+r3
				margin-top: -15px
		.icon-close
			line-height: 32px
			width: 36px
			height: 36px
			border: 2px solid white
			border-radius: 50%
			+r3
				font-size: 12px
				width: 30px
				height: 30px
				line-height: 26px
		.icon-next
			font-size: 36px
			+r3
				font-size: 30px
		&__inner
			max-width: 1200px
			padding: 0 15px 
			margin: 0 auto 
		&__text
			+clr
			padding: 15px 100px 0 0 
			+r1
				padding: 7px 70px 5px 0			
			+r3
				padding: 10px 50px 10px 0 
		&__list, &__country
			opacity: 0.7
			+reg
		&__day, &__city
			opacity: 0.9
		&__list
			font-size: 0
			margin-bottom: 4px
			li
				font-size: 16px
				display: inline-block
				vertical-align: top
				padding: 0 18px 0 0 
				position: relative
				&:first-child
					&:before
						display: none
				&:before
					content: "" 
					position: absolute
					left: -10px
					top: 50%
					margin-top: -1px
					width: 2px
					height: 2px
					background: #fff
					border-radius: 1px 
		&__day
			font-size: 18px
			+gpmed
		&__city
			font-size: 74px
			text-transform: uppercase
			+bold
			float: left
			padding: 0 35px 0 0 
			line-height: 1
			+r1
				font-size: 40px
				padding: 0 20px 0 0 
			+r3
				padding: 0 0 10px
				float: none
				font-size: 28px
		&__country
			font-size: 22px
			padding: 6px 0
			overflow: hidden 
			+r1
				font-size: 18px
				padding: 3px 0 
			+r3
				overflow: visible
				display: block
	.long
		height: auto
		padding: 0 0 30px
		display: none
		background: rgba(17, 17, 18, 0.5) 
		&:before, &:after
			display: none
		&__inner
			display: block
			margin: 0 auto 
//login
.login
	padding: 140px 0 100px
	position: relative
	&__close
		position: absolute
		top: 57px
		right: 60px
		font-size: 31px
		color: white
	&__logo
		display: block
		width: 187px
		margin: 0 auto 63px
		font-size: 0 
	&__inner
		margin: 0 auto
		width: 290px 
		text-align: center
	&__title, &__label span
		color: white
		+semi 
		line-height: 1
		position: relative
		letter-spacing: 0.02em 
	&__title
		font-size: 22px
		margin-bottom: 35px
	&__label
		padding: 15px 0 
		span
			display: inline-block
			width: 55px
			font-size: 16px
			&:before, &:after
				content: "" 
				position: absolute
				top: 50%
				width: 100px
				height: 1px
				opacity: 0.14
				background-color: white
			&:before
				left: 100%
			&:after
				right: 100%

.btn-login
	width: 100%
	border-radius: 25px
	position: relative
	padding: 17px 20px 15px 64px 
	letter-spacing: 0.02em
	color: white
	=semi
	font-size: 18px
	line-height: 1
	transition: background 0.25s
	display: inline-block
	vertical-align: top
	cursor: pointer
	&:before
		content: "" 
		position: absolute
		top: 12px
		bottom: 12px
		left: 49px
		width: 1px
		opacity: 0.14
		background-color: white
	&_fb
		background-color: #4372b9
		&:hover
			background-color: #4376c4
	&_vk
		background-color: #4c75a3
		&:hover
			background-color: #4d7baf
	i
		position: absolute
		top: 50%
		&.icon-fb
			left: 24px
			font-size: 20px
			margin-top: -10px
		&.icon-vk
			left: 15px
			font-size: 13px
			margin-top: -6px

//404
.error
	text-align: center
	padding: 120px 0 100px 
	+r3
		padding: 80px 0 
	&__title, &__text
		color: white
		+bold
		line-height: 1
	&__title
		font-size: 264px
		margin: 0 0 -15px 
		+r3
			font-size: 160px
			margin: 0
	&__text
		font-size: 42px
		margin: 0 0 50px 
		+r3
			font-size: 20px
			margin: 0 0 30px 
			
//about
.about
	padding: 79px 0 0
	+r1
		padding: 60px 0 0 
	&__top
		font-size: 0
		img
			width: 100%

.block-text
	max-width: 1200px
	margin: 0 auto 
	+clr
	padding: 69px 0 53px 
	+r3
		padding: 10px 0 
	&__col
		padding: 10px 15px 
		float: left
		width: 50%
		+r3
			width: 100%
			float: none
			padding: 0 15px 
	&__section
		padding: 14px 0 13px 
		+r3
			padding: 10px 0 
	p
		color: #333
		font-size: 18px
		line-height: 28px
		+gpmed
		letter-spacing: 0.02em 
		+r4
			font-size: 16px
			line-height: 1.3

.js-tooltip-parent
	&:hover
		.tooltip
			opacity: 1
			visibility: visible
			bottom: 100%
.tooltip
	border-radius: 4px
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
	position: relative
	visibility: hidden
	opacity: 0
	position: absolute
	bottom: 70%
	left: 8px
	transform: translateX(-50%)
	margin-bottom: 15px
	transition: visibility 0.2s, opacity 0.2s, bottom 0.2s
	border-radius: 4px
	+r3
		transform: translateX(0)
		left: -10px
	&:before, &:after
		content: "" 
		position: absolute
	&:before
		width: 14px
		height: 14px
		top: 100%
		left: 50%
		margin: -7px 0 0 -7px
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
		transform: rotate(45deg)
		background: #fff 
		+r3
			left: 18px
	&:after
		top: 100%
		left: 0
		right: 0
		height: 15px
	&__inner
		padding: 8px 5px 
		background-color: white
		position: relative
		border-radius: 4px
	&__list
		white-space: nowrap
		font-size: 0
		li
			padding: 0 5px 
			display: inline-block
			vertical-align: top
			margin: 0 !important
		a
			padding: 0
			font-size: 0
			i
				width: 30px
				height: 30px
				border-radius: 50%
				line-height: 30px
				color: #fff
				text-align: center 
				margin-right: 8px
				&.icon-fb
					background-color: #4372b9
					font-size: 20px
				&.icon-vk
					background-color: #4c75a3
					font-size: 11px
					&:before
						margin: 1px 1px 0 0px
						display: inline-block 
			span, i
				display: inline-block
				vertical-align: middle
			span
				padding-top: 2px
				font-size: 14px

.big-quote
	position: relative
	+clr
	&__slide
		padding: 33px 0 0 
		+r3
			padding: 0
		&-in
			background-color: #76cde7
			position: relative
			&:before
				position: absolute
				top: 100%
				left: 0
				right: 0
				height: 300px
				background-color: #76cde7
				content: "" 
	&__inner
		+clr
		position: relative
		max-width: 1000px
		margin: 0 auto 
	&__img
		position: absolute
		bottom: 0
		left: 0
		width: 40%
		// max-height: 445px 
		font-size: 0
		top: -21px
		+r3
			width: 100%
			position: relative
			text-align: left
			margin: 0
			height: 350px
			top: auto
		img
			max-width: 100%
			max-height: 100% 
			position: absolute
			bottom: 0
			left: 0
	&__info
		float: right
		width: 60%
		position: relative
		z-index: 2 
		padding: 89px 70px 60px 40px
		text-align: center
		min-height: 412px
		+r3
			width: 100%
			float: none
			padding: 20px 50px 20px 40px 
			min-height: 200px 
		+r4
			padding: 30px 20px 
	&__name
		color: #fff
		font-size: 18px
		line-height: 1
		+semi
		opacity: 0.7
	&__blockquote
		color: white
		+gpmed
		font-size: 24px
		line-height: 28px
		letter-spacing: 0.02em 
		position: relative
		padding: 30px 0 55px
		+r4
			font-size: 18px
			line-height: 1.3
			padding: 20px 0 
		&:before, &:after
			color: #fff
			font-size: 108px
			line-height: 25px
			+reg
			position: absolute
			opacity: 0.5
			+r4
				font-size: 60px
		&:before
			content: "\201c"
			top: 43px
			right: 100%
			margin: -7px -7px 0 0 
			+r4
				top: 20px
		&:after
			content: "\201d"
			bottom: 0
			left: 100%
			margin: 0 0 -15px 0 
			+r4
				margin: 0 0 0 -10px
				bottom: -10px
	&__nav
		position: absolute
		bottom: 0
		right: 0
		+clr
		z-index: 10
	&__arrows
		float: right
		+clr
	&__prev, &__next
		width: 40px
		height: 40px
		background-color: white
		float: left
		color: #333
		transition: color 0.25s, background 0.25s
		+vertical
		&:hover
			background: #333
			color: #fff  
		i
			font-size: 12px
			display: inline-block
			vertical-align: middle
	&__caption
		color: whitesmoke
		font-size: 15px
		line-height: 28px
		+semi
		padding: 6px 15px 
		overflow: hidden

.about-images
	+clr
	&_left
		.about-img
			float: left
	&_right
		.about-img
			float: right
		
.about-img
	position: relative
	height: 0
	+cover
	&_big, &_med
		width: 40%
		+r4
			width: 100%
	&_big
		padding-bottom: 40%
		+r4
			padding-bottom: 100%
	&_med
		padding-bottom: 20%
		+r4
			padding-bottom: 50%
	&_small
		width: 20%
		padding-bottom: 20%
		+r4
			width: 50%
			padding-bottom: 50%
.about-info
	position: relative
	+clr
	min-height: 800px
	&__images
		position: absolute
		width: 40%
		left: 0
		top: 0
		bottom: 0
		+clr
		+r2
			width: 100%
			position: static
	&__img
		position: absolute
		left: 0
		right: 0
		width: 100%
		height: 50%
		+cover
		background-position: top center 
		+r2
			height: 0
			padding-bottom: 40%
			position: static
			width: 50%
			float: left
		&:first-child
			top: 0
		&:last-child
			bottom: 0
	&__section
		width: 60%
		float: right
		padding: 7.3% 9% 5.9%
		+r1
			padding: 40px 40px 
		+r2
			width: 100%
			float: none
		+r3
			padding: 20px 15px 
		.title-h3
			text-transform: uppercase
			margin-bottom: 10px
	&__text
		padding: 13px 0
		+r4
			padding: 10px 0 
	p, li
		color: #333
		font-size: 18px
		line-height: 28px
		+gpmed
		letter-spacing: 0.02em 
		+r4
			font-size: 16px
			line-height: 1.3
			
.about-more
	background: #7acde6
	color: white
	+semi
	font-size: 18px
	line-height: 1
	text-transform: uppercase
	text-align: center
	display: block
	padding: 34px 15px
	margin-top: -1px
	&:hover
		i
			right: -5px
	span	
		padding: 0 15px 0 0 
		display: inline-block
		position: relative
	i
		position: absolute
		top: 50%
		right: 0
		font-size: 12px
		margin-top: -6px
		transition: right 0.2s
		
.partners
	padding: 90px 0 
	text-align: center
	+clr
	font-size: 0
	.title-h3
		text-transform: uppercase
		margin-bottom: 70px
.partner
	width: 33.33%
	display: inline-block
	vertical-align: top
	padding: 15px
	+r2
		width: 50%
	+r3
		width: 100%
	&__logo
		height: 50px
		+vertical
		margin-bottom: 40px
		img
			max-width: 100%
			max-height: 100% 
			display: inline-block
			vertical-align: middle
	p
		max-width: 320px
		margin: 0 auto 20px
		color: #333
		font-size: 20px
		line-height: 28px 
		+gpmed
		+r4
			font-size: 16px
			line-height: 1.3
			max-width: 90%

//search
.search
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	overflow: auto
	background: rgba(#7acde6, 0.98)
	padding: 100px 15px 
	z-index: 3000 
	visibility: hidden
	opacity: 0
	+r3
		padding: 50px 10px 
	&.is-active
		opacity: 1
		visibility: visible
	&__close
		position: absolute
		top: 60px
		right: 60px
		color: #fff
		font-size: 0
		transition: color 0.25s
		background: none
		+r3
			top: 20px
			right: 20px
		&:hover
			color: #b9e6f4
		i
			font-size: 31px
			+r3
				font-size: 20px
	&__inner
		max-width: 1030px
		margin: 0 auto 
		min-width: 300px
	&__label
		display: block
		margin-bottom: 50px
		span
			color: #e0f2f7
			font-size: 16px
			line-height: 1
			+semi
			display: block
			padding: 0 8px 
			+r3
				padding: 0 5px 
				font-size: 14px
	&__input
		color: white
		font-size: 120px
		+semi
		background: none
		+placeholder-color(#fff)
		width: 100%
		resize: none
		border: none
		+r3
			font-size: 60px
	.btn-white
		width: 160px
		text-align: center

.search-results
	padding: 40px 0 40px 55px
	position: relative
	font-size: 0
	+r3
		padding: 30px 0 40px 40px
	&__btn
		position: absolute
		top: 40px
		left: 0
		font-size: 0
		background: none
		+r3
			top: 30px
		i
			font-size: 34px
			color: #8c8c8c 
			+r3
				font-size: 26px
	&__title, &__label
		+semi
		line-height: 1
		display: inline-block
		vertical-align: top
	&__title
		color: #333
		font-size: 40px
		padding: 0 40px 0 0
		+r3
			font-size: 30px
			padding: 0 20px 0 0 
		&.is-hidden
			display: none
	&__label
		color: #8c8c8c
		font-size: 16px
		padding: 14px 0 0 
		+r3
			padding: 8px 0 0
		&.is-hidden
			display: none
	&__input 
		color: #333
		font-size: 40px
		display: none
		width: 100%
		margin-top: -9px
		+semi
		padding: 0 10px 0 0 
		-ms-text-overflow: ellipsis
		text-overflow: ellipsis
		+r3
			font-size: 30px
			width: 118px
			margin-top: -7px
		&.is-active
			display: inline-block
			vertical-align: top

.little-post
	max-width: 370px
	margin-bottom: 50px
	+r3
		margin-bottom: 40px
	img
		width: 100%
		display: block
		margin-bottom: 15px
	&__title
		+semi
		color: #333
		font-size: 22px
		line-height: 28px
		+r4
			font-size: 18px
			line-height: 1.3
		a
			color: #333
			&:hover
				color: #2d7fc9

@keyframes load
	from
		transform: rotate(0)
	to
		transform: rotate(360deg)

.load
	padding: 0 0 50px
	text-align: center 
.icon-preloader
	display: inline-block
	vertical-align: top
	font-size: 0
	color: #b1b1b1
	animation: load 1.5s infinite linear
	width: 28px
	height: 28px
	line-height: 28px
	text-align: center
	transform-origin: center center
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM6ZXY9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEveG1sLWV2ZW50cyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjEuOSAwLjcgMjguNSAyOC45IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDEuOSAwLjcgMjguNSAyOC45IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjQjFCMUIxIiBkPSJNMTkuOSwyOS4xYy03LjYsMi0xNS40LTIuNi0xNy41LTEwLjNjLTIuMS03LjcsMi40LTE1LjYsMTAtMTcuN2MyLjUtMC43LDUuMi0wLjYsNy43LDAuMWMwLjcsMC4yLDEuMSwwLjksMC45LDEuNmMtMC4yLDAuNy0wLjksMS4xLTEuNiwwLjljLTItMC42LTQuMi0wLjYtNi4zLTAuMWMtNi4yLDEuNy05LjksOC4yLTguMiwxNC41YzEuNyw2LjMsOC4xLDEwLjEsMTQuMyw4LjRjNC45LTEuMyw4LjMtNS42LDguNi0xMC44YzAtMC43LDAuNi0xLjMsMS40LTEuMmMwLjcsMCwxLjMsMC43LDEuMiwxLjRDMzAuMSwyMi4zLDI1LjksMjcuNSwxOS45LDI5LjF6Ii8+PC9zdmc+)
	-webkit-background-size: contain 
	-o-background-size: contain 
	background-size: contain 
.preloader
	display: inline-block
	vertical-align: middle
	padding: 30px 

.search-no
	text-align: center
	padding-bottom: 50px
	&__title
		color: #333
		font-size: 36px
		+bold
		margin-bottom: 65px
		line-height: 1
		+r3
			font-size: 28px
			margin-bottom: 30px
	&__icon
		display: block
		margin: 0 auto
		+s(no-result)

.full-video
	font-size: 0
	position: relative
	iframe, .iframe
		height: 500px
		width: 100%
		background: #000 
		+r4
			height: 300px
	&__preview
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		text-align: center
		background-color: #000 
		cursor: pointer
		+cover
		background-color: #000 
		transition: opacity 0.4s, visibility 0.4s
		&.is-hidden
			opacity: 0
			visibility: hidden
		img
			max-width: 100%
			max-height: 100% 
		&:hover
			.ytp-large-play-button-bg
				transition: fill .1s cubic-bezier(0.0,0.0,0.2,1), fill-opacity .1s cubic-bezier(0.0,0.0,0.2,1)
				fill: #cc181e
				fill-opacity: 1
	&__play
		position: absolute
		left: 50%
		top: 50%
		width: 68px
		height: 48px
		margin-left: -34px
		margin-top: -24px
		transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1)
		background: none
.dairy
	padding: 79px 0 0
	+r1
		padding: 60px 0 0 
	&-section
		position: relative
		padding: 0 0 0 36.5% 
		min-height: 344px 
		border-bottom: 1px solid #eee 
		+r3
			padding: 0
		&__img
			position: absolute
			top: 0
			bottom: -1px
			left: 0
			width: 36.5%
			+cover
			+r3
				width: 100%
				position: relative
				padding-bottom: 60%
				bottom: auto
			.sticker
				position: absolute
				top: 40px 
				left: 40px
				+r4
					top: 20px
					left: 20px
		&__block
			padding: 40px 50px
			+r2
				padding: 20px
			+r3
				width: 100%
		&__text
			padding: 0 0 52px 
	time
		color: #8c8c8c
		font-size: 18px
		+gpmed
		letter-spacing: 0.02em 
		line-height: 1
		display: block
		margin-bottom: 14px
	.title-h3
		margin-bottom: 13px
	p
		color: #333
		font-size: 18px
		line-height: 24px
		+gpmed
	.load
		padding: 15px 

.load-block
	display: none
	&.is-active
		display: block

.load-top
	position: fixed
	top: 0
	left: 0
	right: 0
	height: 0