.out
	min-width: 320px 
	padding: 61px 0 0 

.header
	+clr
	padding: 0 40px
	font-size: 0
	background: #fff 
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 1000
	height: 61px 
	min-width: 320px 
	border-bottom: 1px solid #f1f1f1
	+r1
		padding: 0 20px
	&__logo
		float: left
		padding: 15px 0 14px
		+r1
			padding: 15px 0 
	&__menu
		float: right
		+r2
			position: fixed
			top: 0
			bottom: 0
			right: -258px
			z-index: 2000 
			background-color: #2f373e
			width: 258px
			padding: 13px 0
			overflow: auto 
			transition: transform 0.3s ease-in-out
		&.is-active
			transform: translateX(-100%)
		.btn-search, .nav
			display: inline-block
			vertical-align: middle
		.btn-search
			+r2
				display: none
		.nav
			+r2
				display: block
	&_mod
		background-color: #73c5df
		padding: 0 40px 
		border-bottom: 1px solid rgba(white, 0.3)
		+r1
			padding: 0 20px
		.header
			&__inner
				display: table
				width: 100%
			&__menu, &__date, &__logo
				display: table-cell
				vertical-align: top
				float: none
				padding: 15px 0 14px 
			&__menu
				text-align: center
				padding: 31px 0 31px 
				border-left: 1px solid rgba(white, 0.3)
				border-right: 1px solid rgba(white, 0.3)
			&__logo
				padding-right: 39px
				width: 205px
		.nav
			li
				a
					color: #fff 
					&:before
						border-color: #fff 
		.btn-search
			+s(icon-search-white)
	&__date
		font-size: 0
		text-align: right
		width: 225px
		span, small
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
			line-height: 1
			text-transform: uppercase
			+semi
			color: white
			display: block
			letter-spacing: 0.02em 
			text-align: left
		span
			font-size: 38px
			margin-bottom: 1px
		small
			font-size: 10px
			min-width: 45px
			&.is-left
				float: left
			&.is-right
				float: right
	&__day, &__time
		display: inline-block
		vertical-align: top
		position: relative
		+clr
	&__day
		padding: 0 20px 0 0 
		&:before
			content: "" 
			position: absolute
			top: 4px
			bottom: 3px
			right: 0
			border-right: 1px solid rgba(white, 0.3)
	&__time
		padding: 0 0 0 20px 
.logo
	width: 166px
	float: left
	&__text
		float: right
		+s(logo-text)
		margin-top: 5px

.btn-search
	background: none
	+s(icon-search)
	margin: 0 0 0 25px 
	+r2
		display: none

.btn-menu
	position: absolute
	top: 0
	right: 0
	height: 16px
	width: 22px
	border: none
	background: #fff
	display: none
	transition: right 0.3s ease-in-out
	width: 62px
	height: 60px
	+r2
		display: block
	&.is-active
		right: 258px
		&:before
			top: 29px
			+rotate(45)
		&:after
			+rotate(-45)
			bottom: 29px
		span
			opacity: 0
			width: 0
	&:before, &:after
		content: "" 
		position: absolute
	&:before
		top: 22px
	&:after
		bottom: 22px
	&:before, &:after, span
		height: 2px
		width: 22px
		background: #333 
		transition: 0.2s ease-in-out
		left: 20px
	span
		position: absolute
		top: 50%
		margin-top: -1px

.nav
	&__list
		li
			display: inline-block
			position: relative
			+r2
				display: block
			a
				+bold
				font-size: 13px
				color: #333
				text-transform: uppercase
				letter-spacing: 0.04em 
				display: block
				position: relative
				transition: color 0.25s
				padding: 22px 25px 20px 
				+r2
					padding: 8px 35px 8px 20px 
					color: #8e98a1
					+semi
				&:hover
					+r2
						color: #fff 
					&:before
						opacity: 1
				&.is-active, &.is-open
					color: #2d7fc9
					+r2
						color: #fff 
				&:before
					content: "" 
					position: absolute
					bottom: 20px
					left: 25px
					right: 25px
					border-bottom: 2px solid #333 
					opacity: 0
					transition: all 0.25s ease
					+r2
						display: none
				.icon-arr-bot
					position: absolute
					top: 50%
					right: 20px
					font-size: 4px
					display: none
					margin-top: -2px	
					+r2
						display: block	
			&.nav__mobile
				display: none
				+r2
					display: block
			.submenu
				position: absolute
				top: 100%
				left: 0
				background-color: white
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06)
				padding: 10px 0 
				display: none
				+r2
					position: relative
					background: none
					padding: 0
				li
					padding: 0 
					display: block
					a
						padding: 6px 20px 5px
						color: #8c8c8c
						+r2
							text-transform: none
							padding: 8px 20px 8px 40px 
							color: #fff 
							+reg
						&:hover
							color: #2d7fc9
							+r2
								color: #fff 
						&:before
							display: none

//PROMO (team_all-v2)					
.promo
	+vertical
	background: url(../img/team.jpg) no-repeat center center
	+cover
	height: 500px
	position: relative
	&:after
		content: "" 
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(#000, 0.5) 
	&__inner
		display: inline-block
		vertical-align: middle
		width: 100%
		position: relative
		max-width: 800px 
		z-index: 1
		padding: 0 15px 
	&__title
		margin-bottom: 30px
		+bold
		color: #fff
		font-size: 60px
		text-transform: uppercase
		letter-spacing: 0.02em 
		line-height: 1
		+r3
			font-size: 45px
		+r4
			font-size: 30px
	p
		+gp
		color: #fff
		font-size: 20px
		letter-spacing: 0.02em 
		+r4
			font-size: 16px

.team
	+clr

//person (team_all-v2)				
.person
	width: 25%
	height: 0
	padding-bottom: 32%
	float: left
	position: relative
	font-size: 0
	overflow: hidden
	cursor: pointer
	+r1
		width: 33.33%
		padding-bottom: 42%
	+r3
		width: 50%
		padding-bottom: 64% 
	&:hover
		img
			&.is-hide
				opacity: 1
	img
		width: 100%
		&.is-hide
			position: absolute
			top: 0
			left: 0
			opacity: 0
			transition: opacity 0.4s ease
			will-change: opacity
	&__info
		position: absolute
		bottom: 0
		left: 0
		right: 0
		color: #fff
		text-align: center
		line-height: 1
		padding: 0 0 37px 
		z-index: 1
		+r4
			padding: 0 0 20px 
	&__title
		+bold
		font-size: 24px
		margin-bottom: 10px
		+r4
			font-size: 16px
	&__label
		+reg
		font-size: 14px
		text-transform: uppercase
		+r4
			font-size: 12px

//Banner (team_profile)				
.banner
	color: #fff 
	background-color: #7acde6
	&__inner
		max-width: 1200px
		margin: 0 auto
		padding: 48px 15px 0 385px
		position: relative
		+clr 
		+r2
			padding: 0 
			max-width: 800px
	.social
		margin: 0 -7px 0 0
		float: right 
		+r2
			position: absolute
			bottom: 25px
			right: 15px
			left: 15px
			text-align: right
			margin: 0
	&__img
		position: absolute
		bottom: 0
		left: 15px
		+r2
			position: static
			display: block
			max-width: 50%
			width: 200px
	&__text
		overflow: hidden	
		padding: 145px 0 99px 30px 
		+r2
			padding: 100px 15px 20px
		+r4
			padding: 40px 15px 70px
	&__title
		+semi
		font-size: 38px
		line-height: 1
		margin-bottom: 6px
		overflow: hidden
		+r3
			font-size: 28px
	&__label
		display: block
		letter-spacing: 0.02em 
		opacity: 0.8
		+semi
		font-size: 16px
		text-transform: uppercase
		margin-bottom: 20px
		+r3
			font-size: 14px
	&__info
		font-size: 0
		margin-bottom: 20px
		+r4
			margin-bottom: 10px
		li
			display: inline-block
			vertical-align: top
			+semi
			text-transform: uppercase
			margin-right: 33px
			+r4
				margin: 0 0 10px
				display: block
			span, i
				display: inline-block
				vertical-align: middle
			span
				font-size: 13px
			i
				opacity: 0.7
				margin-right: 8px
				&.icon-plane
					font-size: 9px
				&.icon-earth
					font-size: 14px
				&.icon-comments
					font-size: 14px
	p
		+gp
		color: #fff
		font-size: 20px
		letter-spacing: 0.02em 
		+r4
			font-size: 16px

.social
	font-size: 0
	li
		display: inline-block
		padding: 0 7px
		vertical-align: top
		a
			display: block
			width: 36px
			height: 36px
			text-align: center
			color: #fff 
			transition: background 0.25s
			border-radius: 50%
			+vertical
			+r3
				width: 30px
				height: 30px
			&.is-fb
				background-color: #4c66a4
				&:hover
					background-color: #5770ab
				i
					font-size: 14px
			&.is-vk
				background-color: #3b6798
				&:hover
					background-color: #4672a3
				i
					font-size: 9px
			&.is-instagram
				background-color: #517fa6
				&:hover
					background-color: #5e8ab0
				i
					font-size: 12px
			i
				display: inline-block
				vertical-align: middle

//main (team_profile)
.main
	+clr
.inner
	max-width: 1200px
	margin: 0 auto 
	+clr
	padding: 70px 15px 10px
	+r2
		max-width: 800px
				
.sidebar
	width: 33%
	padding: 0 0 0 15px 
	float: right
	+r2
		float: none
		width: 100%
		padding: 0
	&__box
		padding: 0 0 14px 
	&__title
		+semi
		color: #333
		font-size: 14px
		text-transform: uppercase
		line-height: 1
		position: relative
		overflow: hidden
		margin-bottom: 12px
		span
			position: relative
			padding: 0 20px 0 0
			background: #fff  
			&:after
				content: "" 
				position: absolute
				left: 100%
				border-top: 1px solid #eee
				width: 1000px 
				margin-top: 6px

.news
	padding: 10px 0 15px 
	max-width: 340px
	+r2
		max-width: 100%
	&__inner
		display: block
		+semi
		+clr
	&__img
		float: left
		width: 70px
		height: 70px
		margin: 0 15px 0 0
		+r1
			width: 65px
			height: 65px
			margin: 0 10px 0 0
		img
			width: 100%
			height: 100%
	&__block
		overflow: hidden
	&__info
		font-size: 0
		padding-bottom: 3px
		li
			display: inline-block
			vertical-align: top
			color: #8c8c8c
			font-size: 13px
			line-height: 20px
			letter-spacing: 0.02em 
			padding: 0 18px 0 0
			position: relative
			+r1
				font-size: 12px
			+r4
				padding: 0 14px 0 0 
			&:last-child
				padding: 0 
				&:before
					display: none
			&:before
				content: "" 
				position: absolute
				top: 50%
				right: 8px
				width: 2px
				height: 2px
				background: #8c8c8c 
				margin-top: -1px
				+r4
					right: 6px
			a
				color: #8c8c8c
				transition: all 0.25s ease
				&:hover
					color: #333
	p
		font-size: 17px
		color: #333
		letter-spacing: 0.02em 
		line-height: 1.2
		+r1
			font-size: 15px
		a
			color: #333 
		
.container
	width: 67%
	float: left
	padding: 0 15px 0 0 
	+r2
		width: 100%
		float: none
		padding: 0
	
.post
	padding: 0 0 60px 
	+r4
		padding: 0 0 40px 
	.user
		margin-bottom: 14px
	.title-h3
		margin-bottom: 14px
	&__container
		p
			color: #8c8c8c
			+gpmed
			font-size: 18px
			line-height: 24px
			letter-spacing: 0.02em
			margin-bottom: 15px
			+r4
				line-height: 1.3
	&__img
		position: relative
		margin: 0 0 20px 
		img
			max-width: 100%
			display: block
		.sticker
			position: absolute
			top: 20px
			left: 20px
	.lil-info
		li
			margin-bottom: 10px
	&__partner
		position: absolute
		top: 63px
		left: 20px
		img
			width: auto
.lil-info
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		padding: 0 20px 0 0 
	a
		+semi
		color: #8c8c8c
		font-size: 14px
		line-height: 22px
		letter-spacing: 0.02em
		padding: 0 0 0 25px
		position: relative 
		display: inline-block
		transition: all 0.25s ease
		&.is-like, &.is-dislike, &.is-comments, &.is-share
			i
				position: absolute
				top: 50%
				left: 0
		&.is-like, &.is-dislike
			i
				font-size: 18px
				margin-top: -9px
		&.is-like
			&:hover
				color: #2d7fc9
		&.is-dislike
			&:hover
				color: #333
		&.is-comments
			&:hover
				text-decoration: underline
			i
				font-size: 16px
				margin-top: -8px
		&.is-share
			i
				font-size: 15px
				margin-top: -8px
	&_white
		a
			color: #fff

.tags
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		padding: 0 5px 0 0 
	a
		color: #8c8c8c
		+gp
		font-size: 16px
		line-height: 28px
		letter-spacing: 0.02em
		transition: all 0.25s ease
		&:hover
			color: #333

.user
	&__inner
		display: inline-block
		color: #8c8c8c
		font-size: 13px
		line-height: 18px
		letter-spacing: 0.02em 
		+clr
	&__img
		float: left
		margin: 0 10px 0 0
	&__block
		overflow: hidden
		padding: 1px 0 0
	&__name
		+semi
	&__info		
		font-size: 0
		padding-bottom: 3px
		li
			display: inline-block
			vertical-align: top
			padding: 0 18px 0 0
			position: relative
			+reg
			font-size: 13px
			&:last-child
				&:before
					display: none
			&:before
				content: "" 
				position: absolute
				top: 50%
				right: 8px
				width: 2px
				height: 2px
				background: #8c8c8c 
				margin-top: -1px
				
.long
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	position: relative
	height: 768px
	+vertical
	&:after
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		background: rgba(#000, 0.4)
		content: ""
	&__inner
		position: relative
		z-index: 2
		max-width: 1200px
		width: 100%
		+clr
		padding: 0 15px 
		display: inline-block
		vertical-align: middle
		text-align: left
	&__date
		display: inline-block
		opacity: 0.8
		+bold
		color: #fff
		line-height: 28px
		font-size: 0
		margin: 0 0 2px 
		i, time
			display: inline-block
			vertical-align: middle
		time			
			font-size: 20px
			padding: 4px 0 0 10px
		i
			font-size: 9px
			width: 38px
			height: 38px
			line-height: 36px
			border: 2px solid white
			text-align: center
			border-radius: 50%
	&__title
		color: #fff
		+bold
		font-size: 74px
		text-transform: uppercase
		margin: 0 0 6px 
	&__text
		padding: 0 0 15px 
		p
			color: white
			+gpmed
			font-size: 24px
			line-height: 28px
			max-width: 705px
			letter-spacing: 0.02em 
	.lil-info
		margin-bottom: 55px
			
.lil-post
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		padding: 0 10px 0 0 
	&__inner
		display: inline-block
		max-width: 270px
	&__img
		width: 70px
		height: 70px
		margin: 0 15px 0 0
		float: left
	p
		overflow: hidden
		color: white
		+semi
		font-size: 16px
		line-height: 1.2
		padding: 7px 0 6px 
		
.row
	background: #f5f5f5 
	&__inner
		max-width: 1200px
		padding: 60px 15px 60px 
		margin: 0 auto 
	.title-h3
		margin: 0 0 10px 
.cols
	margin: 0 -15px
	+clr

.col
	width: 25%
	float: left
	padding: 10px 15px 
	&__img
		position: relative
		font-size: 0
		margin: 0 0 16px 
		img
			width: 100%
	.sticker
		position: absolute
		top: 20px
		left: 20px
	p
		+semi
		color: #333
		font-size: 20px
		line-height: 1.2
		margin: 0 0 11px 
.sticker
	+bold
	color: #fff
	font-size: 13px
	line-height: 24px
	text-transform: uppercase
	padding: 2px 14px 0
	display: inline-block
	&.is-green
		background-color: #39bc7a
	&.is-purple
		background-color: #8067b8
	&.is-red
		background-color: #f02c5a
	&.is-yellow
		background-color: #f6cd52
	&.is-blue
		background-color: #229fff

.date
	+clr
	padding: 50px 15px 
	border-bottom: 1px solid #eee 
	max-width: 1200px
	margin: 0 auto 
	&__day
		float: left
		+bbold
		color: #2d7fc9
		font-size: 180px
		line-height: 1
		text-transform: uppercase
	&__info
		overflow: hidden
		padding: 21px 20px 25px 
		span, time, small
			display: block
			line-height: 1
		span, small
			+bold
		span
			color: #d93472
			font-size: 50px
			text-transform: uppercase
			margin: 0 0 23px 
		time
			color: #b1b1b1
			font-size: 16px
			+semi
			margin: 0 0 5px 
		small
			color: #333
			font-size: 40px
			
.photos
	margin: 0 -6px
	font-size: 0
	padding: 0 0 10px 
	&__medium, &__small
		display: inline-block
		vertical-align: top
		padding: 0 5px 10px 
		position: relative
		img
			width: 100%
	&__medium
		width: 50%
	&__small
		width: 33.33%
		&:last-child
			width: 33.34%
	&__link
		position: absolute
		top: 0
		left: 5px
		right: 5px
		bottom: 10px
		transition: all 0.25s
		+vertical
		background-color: rgba(0, 0, 0, 0.5)
		span
			display: inline-block
			vertical-align: middle
			color: #fff
			+semi
			font-size: 56px
			line-height: 1