.out
	min-width: 320px 
	&_mod
		padding: 0 0 46px		

//PROMO (team_all-v2)					
.promo
	+vertical
	background: url(../img/team.jpg) no-repeat center center
	+cover
	height: 500px
	position: relative
	&:after
		content: "" 
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(#000, 0.5) 
	&__inner
		display: inline-block
		vertical-align: middle
		width: 100%
		position: relative
		max-width: 800px 
		z-index: 1
		padding: 0 15px 
	&__title
		margin-bottom: 30px
		+bold
		color: #fff
		font-size: 60px
		text-transform: uppercase
		letter-spacing: 0.02em 
		line-height: 1
		+r3
			font-size: 45px
		+r4
			font-size: 30px
	p
		+gp
		color: #fff
		font-size: 20px
		letter-spacing: 0.02em 
		+r4
			font-size: 16px

.team
	+clr

//person (team_all-v2)				
.person
	width: 25%
	height: 0
	padding-bottom: 32%
	float: left
	position: relative
	font-size: 0
	overflow: hidden
	cursor: pointer
	+r1
		width: 33.33%
		padding-bottom: 42%
	+r3
		width: 50%
		padding-bottom: 64% 
	&:hover
		img
			&.is-hide
				opacity: 1
	img
		width: 100%
		&.is-hide
			position: absolute
			top: 0
			left: 0
			opacity: 0
			transition: opacity 0.4s ease
			will-change: opacity
	&__info
		position: absolute
		bottom: 0
		left: 0
		right: 0
		color: #fff
		text-align: center
		line-height: 1
		padding: 0 0 37px 
		z-index: 1
		+r4
			padding: 0 0 20px 
	&__title
		+bold
		font-size: 24px
		margin-bottom: 10px
		+r4
			font-size: 16px
	&__label
		+reg
		font-size: 14px
		text-transform: uppercase
		+r4
			font-size: 12px

//Banner (team_profile)				
.banner
	color: #fff 
	background-color: #7acde6
	&__inner
		max-width: 1200px
		margin: 0 auto
		padding: 48px 15px 0 385px
		position: relative
		+clr 
		+r2
			padding: 61px 0 0
			max-width: 800px
	.social
		margin: 0 -7px 0 0
		float: right 
		+r2
			position: absolute
			bottom: 25px
			right: 15px
			left: 15px
			text-align: right
			margin: 0
		li
			+r2
				padding: 0 0 0 10px 
	&__img
		position: absolute
		bottom: 0
		left: 15px
		+r2
			position: static
			display: block
			max-width: 50%
			width: 200px
	&__text
		overflow: hidden	
		padding: 145px 0 99px 30px 
		+r2
			padding: 30px 15px 20px
	&__title
		+semi
		font-size: 38px
		line-height: 1
		margin-bottom: 6px
		overflow: hidden
		+r3
			font-size: 28px
	&__label
		display: block
		letter-spacing: 0.02em 
		opacity: 0.8
		+semi
		font-size: 16px
		text-transform: uppercase
		margin-bottom: 20px
		+r3
			font-size: 14px
	&__info
		font-size: 0
		margin-bottom: 20px
		+r4
			margin-bottom: 10px
		li
			display: inline-block
			vertical-align: top
			+semi
			text-transform: uppercase
			margin-right: 33px
			+r4
				margin: 0 0 10px
				display: block
			span, i
				display: inline-block
				vertical-align: middle
			span
				font-size: 13px
			i
				opacity: 0.7
				margin-right: 8px
				&.icon-plane
					font-size: 9px
				&.icon-earth
					font-size: 14px
				&.icon-comments
					font-size: 14px
	p
		+gp
		color: #fff
		font-size: 20px
		letter-spacing: 0.02em 
		+r4
			font-size: 16px

.social
	font-size: 0
	li
		display: inline-block
		padding: 0 7px
		vertical-align: top
		a
			display: block
			width: 36px
			height: 36px
			text-align: center
			color: #fff 
			transition: background 0.25s
			border-radius: 50%
			+vertical
			+r3
				width: 30px
				height: 30px
			&.is-fb
				background-color: #4c66a4
				&:hover
					background-color: #5770ab
				i
					font-size: 14px
			&.is-vk
				background-color: #3b6798
				&:hover
					background-color: #4672a3
				i
					font-size: 9px
			&.is-instagram
				background-color: #517fa6
				&:hover
					background-color: #5e8ab0
				i
					font-size: 12px
			i
				display: inline-block
				vertical-align: middle

//main (team_profile)
.main
	+clr
.inner
	max-width: 1200px
	margin: 0 auto 
	+clr
	padding: 70px 15px 10px
	+r2
		max-width: 800px
				
.sidebar
	width: 33%
	padding: 0 0 0 15px 
	float: right
	+r2
		float: none
		width: 100%
		padding: 0
	&__box
		padding: 0 0 14px 
	&__title
		+semi
		color: #333
		font-size: 14px
		text-transform: uppercase
		line-height: 1
		position: relative
		overflow: hidden
		margin-bottom: 12px
		span
			position: relative
			padding: 0 20px 0 0
			background: #fff  
			&:after
				content: "" 
				position: absolute
				left: 100%
				border-top: 1px solid #eee
				width: 1000px 
				margin-top: 6px

.news
	padding: 10px 0 15px 
	max-width: 340px
	+r2
		max-width: 100%
	&__inner
		display: block
		+semi
		+clr
	img
		width: 100%
		height: 100%
	&__left
		float: left
		width: 70px
		height: 70px
		margin: 0 15px 0 0
		position: relative
		+r1
			width: 65px
			height: 65px
			margin: 0 10px 0 0
		&:hover
			.news__icon
				color: #2d7fc9 
		&.is-white
			.news__icon
				color: #FFF 
				text-shadow: 0 0 2px rgba(0, 0, 0, 0.4)
		&-in
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			+vertical
	&__icon
		display: inline-block
		vertical-align: middle
		+semi
		color: #8c8c8c
		font-size: 14px
		line-height: 22px
		letter-spacing: 0.02em
		transition: all 0.25s ease
		i
			margin: 0 4px 0 0
			float: left 
			&.icon-like, &.icon-dislike
				font-size: 18px
			&.icon-comments
				font-size: 18px
			&.icon-share
				font-size: 15px
		span
			display: block
			overflow: hidden
	&__block
		overflow: hidden
	&__info
		font-size: 0
		padding-bottom: 3px
		li
			display: inline-block
			vertical-align: top
			color: #8c8c8c
			font-size: 13px
			line-height: 20px
			letter-spacing: 0.02em 
			padding: 0 18px 0 0
			position: relative
			+r1
				font-size: 12px
			+r4
				padding: 0 14px 0 0 
			&:last-child
				padding: 0 
				&:before
					display: none
			&:before
				content: "" 
				position: absolute
				top: 50%
				right: 8px
				width: 2px
				height: 2px
				background: #8c8c8c 
				margin-top: -1px
				+r4
					right: 6px
			a
				color: #8c8c8c
				transition: all 0.25s ease
				&:hover
					color: #333
	p
		font-size: 17px
		color: #333
		letter-spacing: 0.02em 
		line-height: 1.2
		+r1
			font-size: 15px
		a
			color: #333 
		
.container
	width: 67%
	float: left
	padding: 0 15px 0 0 
	+r2
		width: 100%
		float: none
		padding: 0
	
.post
	padding: 0 0 60px 
	+r4
		padding: 0 0 40px 
	.user
		margin-bottom: 14px
	.title-h3
		margin-bottom: 14px
	&__container
		p
			color: #8c8c8c
			+gpmed
			font-size: 18px
			line-height: 24px
			letter-spacing: 0.02em
			margin-bottom: 15px
			+r4
				line-height: 1.3
	&__img
		position: relative
		margin: 0 0 20px 
		img
			max-width: 100%
			display: block
		.sticker
			position: absolute
			top: 20px
			left: 20px
	.lil-info
		li
			margin-bottom: 10px
	&__partner
		position: absolute
		top: 63px
		left: 20px
		img
			width: auto
.lil-info
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		padding: 0 20px 0 0 
	a
		+semi
		color: #8c8c8c
		font-size: 14px
		line-height: 22px
		letter-spacing: 0.02em
		padding: 0 0 0 25px
		position: relative 
		display: inline-block
		transition: all 0.25s ease
		&.is-like, &.is-dislike, &.is-comments, &.is-share
			i
				position: absolute
				top: 50%
				left: 0
		&.is-like, &.is-dislike
			i
				font-size: 18px
				margin-top: -9px
		&.is-like
			&:hover
				color: #2d7fc9
		&.is-dislike
			&:hover
				color: #333
		&.is-comments
			&:hover
				text-decoration: underline
			i
				font-size: 16px
				margin-top: -8px
		&.is-share
			i
				font-size: 15px
				margin-top: -8px
	&_white
		a
			color: #fff

.tags
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		padding: 0 5px 0 0 
	a
		color: #8c8c8c
		+gp
		font-size: 16px
		line-height: 28px
		letter-spacing: 0.02em
		transition: all 0.25s ease
		&:hover
			color: #333

.user
	&__inner
		display: inline-block
		color: #8c8c8c
		font-size: 13px
		line-height: 18px
		letter-spacing: 0.02em 
		+clr
	&__img
		float: left
		margin: 0 10px 0 0
	&__block
		overflow: hidden
		padding: 1px 0 0
	&__name
		+semi
	&__info		
		font-size: 0
		padding-bottom: 3px
		li
			display: inline-block
			vertical-align: top
			padding: 0 18px 0 0
			position: relative
			+reg
			font-size: 13px
			&:last-child
				&:before
					display: none
			&:before
				content: "" 
				position: absolute
				top: 50%
				right: 8px
				width: 2px
				height: 2px
				background: #8c8c8c 
				margin-top: -1px
				
.long
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	position: relative
	height: 768px
	+vertical
	+r3
		height: auto
		padding: 30px 0 
	&:after
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		background: rgba(#000, 0.4)
		content: ""
	&__inner
		position: relative
		z-index: 2
		max-width: 1200px
		width: 100%
		+clr
		padding: 0 15px 
		display: inline-block
		vertical-align: middle
		text-align: left
		+r2
			max-width: 800px
	&__date
		display: inline-block
		opacity: 0.8
		+bold
		color: #fff
		line-height: 28px
		font-size: 0
		margin: 0 0 2px 
		i, time
			display: inline-block
			vertical-align: middle
		time			
			font-size: 20px
			padding: 4px 0 0 10px
			+r3
				font-size: 16px
		i
			font-size: 9px
			width: 38px
			height: 38px
			line-height: 36px
			border: 2px solid white
			text-align: center
			border-radius: 50%
			+r3
				width: 30px
				height: 30px
				line-height: 30px
	&__title
		color: #fff
		+bold
		font-size: 74px
		text-transform: uppercase
		margin: 0 0 6px 
		+r2
			font-size: 60px
		+r3
			font-size: 40px
	&__text
		padding: 0 0 15px 
		p
			color: white
			+gpmed
			font-size: 24px
			line-height: 28px
			max-width: 705px
			letter-spacing: 0.02em 
			+r3
				font-size: 20px
				line-height: 1.3em
	.lil-info
		margin-bottom: 55px
		+r3
			margin-bottom: 25px
			
.lil-post
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		padding: 0 10px 10px 0 
	&__inner
		display: inline-block
		max-width: 270px
	&__img
		width: 70px
		height: 70px
		margin: 0 15px 0 0
		float: left
	p
		overflow: hidden
		color: white
		+semi
		font-size: 16px
		line-height: 1.2
		padding: 7px 0 6px 
		
.row
	background: #f5f5f5 
	&__inner
		max-width: 1200px
		padding: 60px 15px 60px 
		margin: 0 auto 
		+r2
			max-width: 800px
	.title-h3
		margin: 0 0 10px 
.cols
	margin: 0 -15px
	+clr

.col
	width: 25%
	float: left
	padding: 10px 15px 
	+r2
		width: 50%
	+r4
		width: 100%
	&__img
		position: relative
		font-size: 0
		margin: 0 0 16px 
		img
			width: 100%
	.sticker
		position: absolute
		top: 20px
		left: 20px
	p
		+semi
		color: #333
		font-size: 20px
		line-height: 1.2
		margin: 0 0 11px 
		+r4
			font-size: 16px
.sticker
	+bold
	color: #fff
	font-size: 13px
	line-height: 24px
	text-transform: uppercase
	padding: 2px 14px 0
	display: inline-block
	&.is-green
		background-color: #39bc7a
	&.is-purple
		background-color: #8067b8
	&.is-red
		background-color: #f02c5a
	&.is-yellow
		background-color: #f6cd52
	&.is-blue
		background-color: #229fff

.date
	+clr
	padding: 50px 15px 
	max-width: 1200px
	margin: 0 auto 
	position: relative
	+r2
		max-width: 800px
	&:before
		content: "" 
		position: absolute
		bottom: 0
		left: 15px
		right: 15px		
		border-bottom: 1px solid #eee 
	&__day
		float: left
		+bbold
		color: #2d7fc9
		font-size: 180px
		line-height: 1
		text-transform: uppercase
		+r2
			font-size: 155px
		+r3
			font-size: 118px
	&__info
		overflow: hidden
		padding: 24px 20px 25px 
		span, time, small
			display: block
			line-height: 1
		span, small
			+bold
		span
			color: #d93472
			font-size: 50px
			text-transform: uppercase
			margin: 0 0 23px 
			+r2
				font-size: 40px
			+r3
				font-size: 30px
		time
			color: #b1b1b1
			font-size: 16px
			+semi
			margin: 0 0 5px 
		small
			color: #333
			font-size: 40px
			+r2
				font-size: 30px
			+r3
				font-size: 18px
			
.photos
	margin: 0 -6px
	font-size: 0
	padding: 0 0 10px 
	&__medium, &__small
		display: inline-block
		vertical-align: top
		padding: 0 5px 10px 
		position: relative
		img
			width: 100%
	&__medium
		width: 50%
		+r4
			width: 100%
	&__small
		width: 33.33%
		&:last-child
			width: 33.34%
	&__link
		position: absolute
		top: 0
		left: 5px
		right: 5px
		bottom: 10px
		transition: all 0.25s
		+vertical
		background-color: rgba(0, 0, 0, 0.5)
		span
			display: inline-block
			vertical-align: middle
			color: #fff
			+semi
			font-size: 56px
			line-height: 1
			
.road
	background-color: #73c5df
	position: relative
	&__inner
		max-width: 1200px
		padding: 145px 15px 105px
		margin: 0 auto
		position: relative
		+r2
			max-width: 800px
		+r3
			padding: 105px 15px 50px 
	&__info
		max-width: 570px
		img
			max-width: 100%
			display: block
			margin-bottom: 30px
	&__text
		margin-bottom: 23px
		max-width: 530px
		+r4
			margin-bottom: 15px
		p
			font-size: 18px
			line-height: 24px
			+gpmed
			color: #fff 
			letter-spacing: 0.02em 
			+r4
				line-height: 1.3
				font-size: 16px
	&__creater
		position: absolute
		bottom: 15px
		right: 40px
		+r3
			right: 15px
		small, span
			display: block
			line-height: 18px
			color: white 
		small
			font-size: 12px
			+semi
		span
			font-size: 16px
			+bold
	.btn-bottom
		position: absolute
		bottom: 62px
		left: 15px
		+r3
			position: relative
			bottom: auto
			left: auto
			display: block
.btn-bottom
	font-size: 12px
	color: #fff
	width: 27px
	height: 27px
	position: relative
	&:hover
		i
			top: 10px
	i
		position: absolute
		top: 7px
		left: 0
		transition: top 0.2s
.sticky-road
	background-color: #2f373e
	position: fixed
	bottom: 0
	left: 0
	right: 0
	font-size: 0
	z-index: 900
	padding: 8px 40px 
	min-width: 320px 
	opacity: 0
	visibility: hidden
	transition: opacity 0.25s, visibility 0.25s
	+r1
		padding: 8px 15px 
	&.is-active
		opacity: 1
		visibility: visible
	i
		font-size: 12px
		line-height: 26px
		width: 30px
		height: 30px
		border: 2px solid #8e98a1
		border-radius: 50%
		text-align: center
		color: #8e98a1
	i, span
		transition: color 0.25s, border-color 0.25s
	&__prev
		float: left
	&__next
		float: right
		text-align: right
		i
			margin-left: 7px
			float: right
	&__current
		text-align: center
		display: block
		overflow: hidden	
		a
			color: #e0e0e0	
		i
			border-color: #e0e0e0	
			color: #e0e0e0	
			+r3
				display: none
	&__current, &__prev
		i
			margin-right: 7px
			float: left
	&__current, &__prev, &__next
		a
			display: inline-block
		span
			font-size: 14px
			+bold
			display: block
			overflow: hidden
			-ms-text-overflow: ellipsis
			text-overflow: ellipsis
			white-space: nowrap
			line-height: 30px
	&__prev, &__next
		width: 33.33%
		+r3
			width: 40px
		a
			color: #8e98a1
			&:hover
				i
					border-color: #e0e0e0
				i, span
					color: #e0e0e0	
		span
			+r3
				display: none
		i
			+r3
				margin: 0

//globe
.globe
	+clr
	position: relative	
	background-color: #73c5df
	&__inner
		padding: 165px 15px 90px 
		max-width: 1200px
		margin: 0 auto 
		position: relative
		+r2
			padding: 100px 15px 50px 
		+r4
			padding: 100px 15px 20px 
	img
		max-width: 100%
		display: block
		margin-bottom: 60px
		+r4
			margin-bottom: 25px
	p
		max-width: 500px
		color: white
		+gpmed
		font-size: 18px
		line-height: 24px
		letter-spacing: 0.02em 
		margin-bottom: 50px
		+r4
			font-size: 16px
			line-height: 1.3
			margin-bottom: 25px
	&__info
		font-size: 0
		margin-bottom: 47px
		+r4
			margin-bottom: 9px
		li
			padding: 0 0 16px 
		a
			position: relative
			display: inline-block
			color: white 
			i
				float: left
				width: 38px
				height: 38px
				border: 2px solid white
				border-radius: 50%
				opacity: 0.6
				font-size: 16px
				line-height: 34px
				text-align: center
				margin: 0 10px 0 0 
				+r4
					font-size: 14px
					width: 30px
					height: 30px
					line-height: 26px
			span
				display: block
				overflow: hidden
				font-size: 16px
				+semi
				line-height: 1
				padding: 12px 0 10px
				+r4
					font-size: 14px
					padding: 9px 0 7px 
	&__next
		position: relative
		color: #fff
		max-width: 260px
		display: block
		padding: 0 0 0 40px 
		&:hover
			i
				top: 10px
			span
				opacity: 1
		i
			position: absolute
			top: 3px
			left: 0
			transition: top 0.2s
			font-size: 12px
		span
			opacity: 0.8
			font-size: 14px
			line-height: 18px
			+reg
			display: block
			transition: opacity 0.2s
	&__creater
		position: absolute
		bottom: 115px
		right: 40px
		+r2
			bottom: 50px
		+r3
			right: 15px
		+r4
			position: static
			float: right
			padding: 0 15px 30px 
		small, span
			display: block
			line-height: 18px
			color: white 
		small
			font-size: 12px
			+semi
		span
			font-size: 16px
			+bold

.text-row
	padding: 25px 0 50px
	background-color: #6dc3de
	&__inner
		max-width: 1200px
		margin: 0 auto
		+clr
.text-col
	width: 50%
	padding: 20px 15px 0
	float: left
	+r3
		width: 100%
	p
		max-width: 540px
		color: white
		+gpmed
		font-size: 18px
		line-height: 24px
		letter-spacing: 0.02em 
		+r3
			max-width: 100%
		+r4
			font-size: 16px
			line-height: 1.3

//pag-calendar
.calendar
	min-height: 100%
	position: relative
	padding: 79px 0 0 
	+r1
		padding: 60px 0 0 
	&:before
		content: ""
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		background-color: rgba(17, 17, 18, 0.72)
	&__items
		position: relative
		z-index: 5
	&-item
		+clr
		transition: background 0.25s
		color: #fff 
		display: block
		line-height: 1
		padding: 62px 0 56px
		border-bottom: 1px solid #535658  
		position: relative
		+r3
			padding: 20px 0
		&:hover
			background: rgba(#111112, 0.5)
			.icon-next
				opacity: 0.7
		.icon-next
			position: absolute
			top: 50%
			right: 37px
			margin-top: -18px
			font-size: 14px
			width: 36px
			height: 36px
			border: 2px solid white
			border-radius: 50%
			opacity: 0
			line-height: 32px
			text-align: center
			transition: opacity 0.25s
			+r1
				right: 15px
			+r3
				font-size: 12px
				width: 30px
				height: 30px
				margin-top: -15px
				line-height: 26px
		&__left
			float: left
			width: 22%
			padding: 7px 15px 7px 40px
			+r1
				padding: 7px 15px
				width: 30% 
			+r3
				width: 100%
				float: none
				padding: 10px 50px 10px 15px 
		&__right
			float: left
			width: 78%
			+clr
			padding: 0 100px 0 15px 
			+r1
				width: 70%
				padding: 7px 70px 5px 15px			
			+r3
				width: 100%
				float: none
				padding: 10px 50px 10px 15px 
		&__list, &__country
			opacity: 0.7
			+reg
		&__day, &__city
			opacity: 0.9
		&__list
			font-size: 0
			margin-bottom: 4px
			li
				font-size: 16px
				display: inline-block
				vertical-align: top
				padding: 0 18px 0 0 
				position: relative
				&:first-child
					&:before
						display: none
				&:before
					content: "" 
					position: absolute
					left: -10px
					top: 50%
					margin-top: -1px
					width: 2px
					height: 2px
					background: #fff
					border-radius: 1px 
		&__day
			font-size: 18px
			+gpmed
		&__city
			font-size: 60px
			text-transform: uppercase
			+bold
			float: left
			padding: 0 35px 0 0 
			+r1
				font-size: 40px
				padding: 0 20px 0 0 
			+r3
				padding: 0 0 10px
				float: none
				font-size: 28px
		&__country
			font-size: 22px
			padding: 5px 0
			overflow: hidden 
			+r1
				font-size: 18px
				padding: 3px 0 
			+r3
				overflow: visible
				display: block