#webgl_canvas
	top: 0px

.marker
	position: absolute
	display: inline-block
	background-color: rgba(0, 0, 0, 0.87)
	color: #ffffff
	font-size: 24px
	+semi
	-moz-user-select: -moz-none
	-khtml-user-select: none
	-webkit-user-select: none
	margin: 0px
	border: 0px
	padding: 10px
	overflow: hidden
	cursor: pointer

#info
	visibility: hidden
	// position: absolute
	position: fixed
	display: inline-block
	top: 500px
	left: 200px
	color: white
	pointer-events: none
	white-space: nowrap
	img
		width: 43px
		display: inline-block
		vertical-align: middle

#info_name
	display: inline-block
	vertical-align: middle
	color: white
	font-size: 24px
	+semi
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)

#globeHolder
	position: absolute
	top: -130px
	right: -100px
	width: 1000px
	height: 1000px
	z-index: 10
	@media only screen and (max-width: 1400px)
		width: 800px
		height: 800px
		top: -35px
	+r2
		width: 700px
		height: 700px
		position: relative
		top: auto
		right: auto
		margin: 0 auto 
	+r3
		width: 500px
		height: 500px
	+r4
		width: 320px
		height: 320px