$icons: (0:0)
$icons: map-merge($icons,(codedby: (X: -355px, Y:-143px, W: 47px, H: 5px, TW: 414px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(coderiver: (X: -355px, Y:-134px, W: 49px, H: 5px, TW: 414px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(episod-bg: (X: -174px, Y:-59px, W: 224px, H: 49px, TW: 414px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(gl-red: (X: -174px, Y:-112px, W: 177px, H: 39px, TW: 414px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-search-white: (X: -355px, Y:-112px, W: 18px, H: 18px, TW: 414px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-search: (X: -377px, Y:-112px, W: 18px, H: 18px, TW: 414px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo-text: (X: -174px, Y:-155px, W: 111px, H: 11px, TW: 414px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(no-result: (X: 0px, Y:0px, W: 170px, H: 170px, TW: 414px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(pn-bg: (X: -174px, Y:0px, W: 240px, H: 55px, TW: 414px, TH: 210px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(pn-bgs: (X: 0px, Y:-174px, W: 159px, H: 36px, TW: 414px, TH: 210px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin s($i)
	+sprite($i)

.icon-codedby
	width: 47px
	height: 5px
	background-image: url('../img/icons.png')
	background-position: -355px -143px
.icon-coderiver
	width: 49px
	height: 5px
	background-image: url('../img/icons.png')
	background-position: -355px -134px
.icon-episod-bg
	width: 224px
	height: 49px
	background-image: url('../img/icons.png')
	background-position: -174px -59px
.icon-gl-red
	width: 177px
	height: 39px
	background-image: url('../img/icons.png')
	background-position: -174px -112px
.icon-icon-search-white
	width: 18px
	height: 18px
	background-image: url('../img/icons.png')
	background-position: -355px -112px
.icon-icon-search
	width: 18px
	height: 18px
	background-image: url('../img/icons.png')
	background-position: -377px -112px
.icon-logo-text
	width: 111px
	height: 11px
	background-image: url('../img/icons.png')
	background-position: -174px -155px
.icon-no-result
	width: 170px
	height: 170px
	background-image: url('../img/icons.png')
	background-position: 0px 0px
.icon-pn-bg
	width: 240px
	height: 55px
	background-image: url('../img/icons.png')
	background-position: -174px 0px
.icon-pn-bgs
	width: 159px
	height: 36px
	background-image: url('../img/icons.png')
	background-position: 0px -174px
