@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-arr-bot: "\EA01"
$icon-close: "\EA02"
$icon-comments: "\EA03"
$icon-dislike: "\EA04"
$icon-earth: "\EA05"
$icon-fb: "\EA06"
$icon-instagram: "\EA07"
$icon-like: "\EA08"
$icon-plane-small: "\EA09"
$icon-plane: "\EA0A"
$icon-share: "\EA0B"
$icon-vk: "\EA0C"


%icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend %icon
	display: inline-block

.icon-arr-bot:before
	content: $icon-arr-bot
.icon-close:before
	content: $icon-close
.icon-comments:before
	content: $icon-comments
.icon-dislike:before
	content: $icon-dislike
.icon-earth:before
	content: $icon-earth
.icon-fb:before
	content: $icon-fb
.icon-instagram:before
	content: $icon-instagram
.icon-like:before
	content: $icon-like
.icon-plane-small:before
	content: $icon-plane-small
.icon-plane:before
	content: $icon-plane
.icon-share:before
	content: $icon-share
.icon-vk:before
	content: $icon-vk