@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { box-sizing: border-box; }

* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }

@font-face { font-family: "ProximaNova Regular"; src: url("fonts/proxima_nova_regular.eot"); src: url("fonts/proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("fonts/proxima_nova_regular.woff2") format("woff2"), url("fonts/proxima_nova_regular.woff") format("woff"), url("fonts/proxima_nova_regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova Semibold"; src: url("fonts/proxima_nova_semibold.eot"); src: url("fonts/proxima_nova_semibold.eot?#iefix") format("embedded-opentype"), url("fonts/proxima_nova_semibold.woff2") format("woff2"), url("fonts/proxima_nova_semibold.woff") format("woff"), url("fonts/proxima_nova_semibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova Bold"; src: url("fonts/proxima_nova_bold.eot"); src: url("fonts/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("fonts/proxima_nova_bold.woff2") format("woff2"), url("fonts/proxima_nova_bold.woff") format("woff"), url("fonts/proxima_nova_bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "GaramondPremr Bold"; src: url("fonts/GaramondPremrPro-Bd.eot"); src: url("fonts/GaramondPremrPro-Bd.eot?#iefix") format("embedded-opentype"), url("fonts/GaramondPremrPro-Bd.woff2") format("woff2"), url("fonts/GaramondPremrPro-Bd.woff") format("woff"), url("fonts/GaramondPremrPro-Bd.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "GaramondPremr Medium"; src: url("fonts/GaramondPremrPro-Med.eot"); src: url("fonts/GaramondPremrPro-Med.eot?#iefix") format("embedded-opentype"), url("fonts/GaramondPremrPro-Med.woff2") format("woff2"), url("fonts/GaramondPremrPro-Med.woff") format("woff"), url("fonts/GaramondPremrPro-Med.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "GaramondPremr Regular"; src: url("fonts/GaramondPremrPro.eot"); src: url("fonts/GaramondPremrPro.eot?#iefix") format("embedded-opentype"), url("fonts/GaramondPremrPro.woff2") format("woff2"), url("fonts/GaramondPremrPro.woff") format("woff"), url("fonts/GaramondPremrPro.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "BodoniSvtyTwoITCTT Bold"; src: url("fonts/BodoniSvtyTwoITCTTBold.eot"); src: url("fonts/BodoniSvtyTwoITCTTBold.eot?#iefix") format("embedded-opentype"), url("fonts/BodoniSvtyTwoITCTTBold.woff2") format("woff2"), url("fonts/BodoniSvtyTwoITCTTBold.woff") format("woff"), url("fonts/BodoniSvtyTwoITCTTBold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "ProximaNova Regular", Arial, sans-serif; font-size: 12px; line-height: 1.4; }

h1, h2, h3, h4, h5, h6, b, strong, em, i { font-weight: normal; font-style: normal; }

a { text-decoration: none; }

.title-h3 { color: #333; font-size: 32px; line-height: 40px; font-family: "ProximaNova Bold", Arial, sans-serif; display: block; }
.title-h3 a { color: #333; transition: all 0.25s ease; }
.title-h3 a:hover { color: #2d7fc9; }

.icon-codedby { width: 47px; height: 5px; background-image: url("../img/icons.png"); background-position: -22px -9px; }

.icon-coderiver { width: 49px; height: 5px; background-image: url("../img/icons.png"); background-position: -22px 0px; }

.icon-icon-search { width: 18px; height: 18px; background-image: url("../img/icons.png"); background-position: 0px 0px; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-comments:before { content: ""; }

.icon-dislike:before { content: ""; }

.icon-earth:before { content: ""; }

.icon-fb:before { content: ""; }

.icon-instagram:before { content: ""; }

.icon-like:before { content: ""; }

.icon-plane-small:before { content: ""; }

.icon-plane:before { content: ""; }

.icon-share:before { content: ""; }

.icon-vk:before { content: ""; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header { *zoom: 1; padding: 15px 40px 14px; font-size: 0; background: #fff; }
.header:after { content: " "; display: table; clear: both; }
.header__menu { float: right; padding: 7px 0 6px; }
.header__menu .btn-search, .header__menu .nav { display: inline-block; vertical-align: middle; }

.logo { width: 166px; float: left; }

.btn-search { background: none; background-image: url("../img/icons.png"); width: 18px; height: 18px; background-position: 0px 0px; margin: 0 0 0 25px; }

.nav__list li { display: inline-block; padding: 0 25px; }
.nav__list li a { font-family: "ProximaNova Bold", Arial, sans-serif; font-size: 13px; color: #333; text-transform: uppercase; letter-spacing: 0.04em; display: block; position: relative; }
.nav__list li a:hover:before { width: 100%; }
.nav__list li a.is-active { color: #2d7fc9; }
.nav__list li a:before { content: ""; position: absolute; bottom: 0; left: 0; border-bottom: 2px solid #333; width: 0; transition: all 0.25s ease; }

.promo { text-align: center; font-size: 0; background: url(../img/team.jpg) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 500px; position: relative; }
.promo:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.promo:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); }
.promo__inner { display: inline-block; vertical-align: middle; width: 100%; position: relative; max-width: 770px; z-index: 1; }
.promo__title { margin-bottom: 30px; font-family: "ProximaNova Bold", Arial, sans-serif; color: #fff; font-size: 60px; text-transform: uppercase; letter-spacing: 0.02em; line-height: 1; }
.promo p { font-family: "GaramondPremr Regular", Arial, sans-serif; color: #fff; font-size: 20px; letter-spacing: 0.02em; }

.team { *zoom: 1; }
.team:after { content: " "; display: table; clear: both; }

.person { width: 25%; float: left; position: relative; font-size: 0; overflow: hidden; cursor: pointer; }
.person:hover img.is-hide { opacity: 1; }
.person img { width: 100%; }
.person img.is-hide { position: absolute; top: 0; left: 0; opacity: 0; transition: opacity 0.4s ease; will-change: opacity; }
.person__info { position: absolute; bottom: 0; left: 0; right: 0; color: #fff; text-align: center; line-height: 1; padding: 0 0 37px; z-index: 1; }
.person__title { font-family: "ProximaNova Bold", Arial, sans-serif; font-size: 24px; margin-bottom: 10px; }
.person__label { font-family: "ProximaNova Regular", Arial, sans-serif; font-size: 14px; text-transform: uppercase; }

.banner { color: #fff; background-color: #7acde6; }
.banner__inner { max-width: 1200px; margin: 0 auto; padding: 48px 15px 0 385px; position: relative; *zoom: 1; }
.banner__inner:after { content: " "; display: table; clear: both; }
.banner .social { margin: 0 -7px 0 0; float: right; }
.banner__img { position: absolute; bottom: 0; left: 15px; }
.banner__text { overflow: hidden; padding: 145px 0 99px 30px; }
.banner__title { font-family: "ProximaNova Semibold", Arial, sans-serif; font-size: 38px; line-height: 1; margin-bottom: 6px; }
.banner__label { display: block; letter-spacing: 0.02em; opacity: 0.8; font-family: "ProximaNova Semibold", Arial, sans-serif; font-size: 16px; text-transform: uppercase; margin-bottom: 20px; }
.banner__info { font-size: 0; margin-bottom: 20px; }
.banner__info li { display: inline-block; vertical-align: top; font-family: "ProximaNova Semibold", Arial, sans-serif; text-transform: uppercase; margin-right: 33px; }
.banner__info li span, .banner__info li i { display: inline-block; vertical-align: middle; }
.banner__info li span { font-size: 13px; }
.banner__info li i { opacity: 0.7; margin-right: 8px; }
.banner__info li i.icon-plane { font-size: 9px; }
.banner__info li i.icon-earth { font-size: 14px; }
.banner__info li i.icon-comments { font-size: 14px; }
.banner p { font-family: "GaramondPremr Regular", Arial, sans-serif; color: #fff; font-size: 20px; letter-spacing: 0.02em; }

.social { font-size: 0; }
.social li { display: inline-block; padding: 0 7px; vertical-align: top; }
.social li a { display: block; width: 36px; height: 36px; text-align: center; color: #fff; transition: all 0.25s; border-radius: 50%; text-align: center; font-size: 0; }
.social li a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.social li a.is-fb { background-color: #4c66a4; }
.social li a.is-fb:hover { background-color: #5770ab; }
.social li a.is-fb i { font-size: 14px; }
.social li a.is-vk { background-color: #3b6798; }
.social li a.is-vk:hover { background-color: #4672a3; }
.social li a.is-vk i { font-size: 9px; }
.social li a.is-instagram { background-color: #517fa6; }
.social li a.is-instagram:hover { background-color: #5e8ab0; }
.social li a.is-instagram i { font-size: 12px; }
.social li a i { display: inline-block; vertical-align: middle; }

.main { *zoom: 1; }
.main:after { content: " "; display: table; clear: both; }

.inner { max-width: 1200px; margin: 0 auto; *zoom: 1; padding: 70px 15px 10px; }
.inner:after { content: " "; display: table; clear: both; }

.sidebar { width: 33%; padding: 0 0 0 15px; float: right; }
.sidebar__box { padding: 0 0 14px; }
.sidebar__title { font-family: "ProximaNova Semibold", Arial, sans-serif; color: #333; font-size: 14px; text-transform: uppercase; line-height: 1; position: relative; overflow: hidden; margin-bottom: 12px; }
.sidebar__title span { position: relative; padding: 0 20px 0 0; background: #fff; }
.sidebar__title span:after { content: ""; position: absolute; left: 100%; border-top: 1px solid #eee; width: 1000px; margin-top: 6px; }

.news { padding: 10px 0 15px; max-width: 340px; }
.news__inner { display: block; font-family: "ProximaNova Semibold", Arial, sans-serif; *zoom: 1; }
.news__inner:after { content: " "; display: table; clear: both; }
.news__img { float: left; width: 70px; height: 70px; margin: 0 15px 0 0; }
.news__img img { width: 100%; height: 100%; }
.news__block { overflow: hidden; }
.news__info { font-size: 0; padding-bottom: 3px; }
.news__info li { display: inline-block; vertical-align: top; color: #8c8c8c; font-size: 13px; line-height: 20px; letter-spacing: 0.02em; padding: 0 18px 0 0; position: relative; }
.news__info li:last-child:before { display: none; }
.news__info li:before { content: ""; position: absolute; top: 50%; right: 8px; width: 2px; height: 2px; background: #8c8c8c; margin-top: -1px; }
.news__info li a { color: #8c8c8c; transition: all 0.25s ease; }
.news__info li a:hover { color: #333; }
.news p { font-size: 17px; color: #333; letter-spacing: 0.02em; line-height: 1.2; }
.news p a { color: #333; }

.container { width: 67%; float: left; padding: 0 15px 0 0; }

.post { padding: 0 0 60px; }
.post .user { margin-bottom: 14px; }
.post .title-h3 { margin-bottom: 14px; }
.post__container p { color: #8c8c8c; font-family: "GaramondPremr Medium", Arial, sans-serif; font-size: 18px; line-height: 24px; letter-spacing: 0.02em; margin-bottom: 15px; }
.post__img { position: relative; margin: 0 0 20px; }
.post__img img { max-width: 100%; display: block; }
.post__img .sticker { position: absolute; top: 20px; left: 20px; }
.post .lil-info { margin-bottom: 10px; }
.post__partner { position: absolute; top: 63px; left: 20px; }
.post__partner img { width: auto; }

.lil-info { font-size: 0; }
.lil-info li { display: inline-block; vertical-align: top; padding: 0 20px 0 0; }
.lil-info a { font-family: "ProximaNova Semibold", Arial, sans-serif; color: #8c8c8c; font-size: 14px; line-height: 22px; letter-spacing: 0.02em; padding: 0 0 0 25px; position: relative; display: inline-block; transition: all 0.25s ease; }
.lil-info a.is-like i, .lil-info a.is-dislike i, .lil-info a.is-comments i, .lil-info a.is-share i { position: absolute; top: 50%; left: 0; }
.lil-info a.is-like i, .lil-info a.is-dislike i { font-size: 18px; margin-top: -9px; }
.lil-info a.is-like:hover { color: #2d7fc9; }
.lil-info a.is-dislike:hover { color: #333; }
.lil-info a.is-comments:hover { text-decoration: underline; }
.lil-info a.is-comments i { font-size: 16px; margin-top: -8px; }
.lil-info a.is-share i { font-size: 15px; margin-top: -8px; }
.lil-info_white a { color: #fff; }

.tags { font-size: 0; }
.tags li { display: inline-block; vertical-align: top; padding: 0 5px 0 0; }
.tags a { color: #8c8c8c; font-family: "GaramondPremr Regular", Arial, sans-serif; font-size: 16px; line-height: 28px; letter-spacing: 0.02em; transition: all 0.25s ease; }
.tags a:hover { color: #333; }

.user__inner { display: inline-block; color: #8c8c8c; font-size: 13px; line-height: 18px; letter-spacing: 0.02em; *zoom: 1; }
.user__inner:after { content: " "; display: table; clear: both; }
.user__img { float: left; margin: 0 10px 0 0; }
.user__block { overflow: hidden; padding: 1px 0 0; }
.user__name { font-family: "ProximaNova Semibold", Arial, sans-serif; }
.user__info { font-size: 0; padding-bottom: 3px; }
.user__info li { display: inline-block; vertical-align: top; padding: 0 18px 0 0; position: relative; font-family: "ProximaNova Regular", Arial, sans-serif; font-size: 13px; }
.user__info li:last-child:before { display: none; }
.user__info li:before { content: ""; position: absolute; top: 50%; right: 8px; width: 2px; height: 2px; background: #8c8c8c; margin-top: -1px; }

.long { background-size: cover; background-position: center center; background-repeat: no-repeat; position: relative; height: 768px; text-align: center; font-size: 0; }
.long:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.long:after { position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.4); content: ""; }
.long__inner { position: relative; z-index: 2; max-width: 1200px; width: 100%; *zoom: 1; padding: 0 15px; display: inline-block; vertical-align: middle; text-align: left; }
.long__inner:after { content: " "; display: table; clear: both; }
.long__date { display: inline-block; opacity: 0.8; font-family: "ProximaNova Bold", Arial, sans-serif; color: #fff; line-height: 28px; font-size: 0; margin: 0 0 2px; }
.long__date i, .long__date time { display: inline-block; vertical-align: middle; }
.long__date time { font-size: 20px; padding: 4px 0 0 10px; }
.long__date i { font-size: 9px; width: 38px; height: 38px; line-height: 36px; border: 2px solid white; text-align: center; border-radius: 50%; }
.long__title { color: #fff; font-family: "ProximaNova Bold", Arial, sans-serif; font-size: 74px; text-transform: uppercase; margin: 0 0 6px; }
.long__text { padding: 0 0 15px; }
.long__text p { color: white; font-family: "GaramondPremr Medium", Arial, sans-serif; font-size: 24px; line-height: 28px; max-width: 705px; letter-spacing: 0.02em; }
.long .lil-info { margin-bottom: 55px; }

.lil-post { font-size: 0; }
.lil-post li { display: inline-block; vertical-align: top; padding: 0 10px 0 0; }
.lil-post__inner { display: inline-block; max-width: 270px; }
.lil-post__img { width: 70px; height: 70px; margin: 0 15px 0 0; float: left; }
.lil-post p { overflow: hidden; color: white; font-family: "ProximaNova Semibold", Arial, sans-serif; font-size: 16px; line-height: 1.2; padding: 7px 0 6px; }

.row { background: #f5f5f5; }
.row__inner { max-width: 1200px; padding: 60px 15px 60px; margin: 0 auto; }
.row .title-h3 { margin: 0 0 10px; }

.cols { margin: 0 -15px; *zoom: 1; }
.cols:after { content: " "; display: table; clear: both; }

.col { width: 25%; float: left; padding: 10px 15px; }
.col__img { position: relative; font-size: 0; margin: 0 0 16px; }
.col__img img { width: 100%; }
.col .sticker { position: absolute; top: 20px; left: 20px; }
.col p { font-family: "ProximaNova Semibold", Arial, sans-serif; color: #333; font-size: 20px; line-height: 1.2; margin: 0 0 11px; }

.sticker { font-family: "ProximaNova Bold", Arial, sans-serif; color: #fff; font-size: 13px; line-height: 24px; text-transform: uppercase; padding: 2px 14px 0; display: inline-block; }
.sticker.is-green { background-color: #39bc7a; }
.sticker.is-purple { background-color: #8067b8; }
.sticker.is-red { background-color: #f02c5a; }
.sticker.is-yellow { background-color: #f6cd52; }
.sticker.is-blue { background-color: #229fff; }

.date { *zoom: 1; padding: 50px 15px; border-bottom: 1px solid #eee; max-width: 1200px; margin: 0 auto; }
.date:after { content: " "; display: table; clear: both; }
.date__day { float: left; font-family: "BodoniSvtyTwoITCTT Bold", Arial, sans-serif; color: #2d7fc9; font-size: 180px; line-height: 1; text-transform: uppercase; }
.date__info { overflow: hidden; padding: 21px 20px 25px; }
.date__info span, .date__info time, .date__info small { display: block; line-height: 1; }
.date__info span, .date__info small { font-family: "ProximaNova Bold", Arial, sans-serif; }
.date__info span { color: #d93472; font-size: 50px; text-transform: uppercase; margin: 0 0 23px; }
.date__info time { color: #b1b1b1; font-size: 16px; font-family: "ProximaNova Semibold", Arial, sans-serif; margin: 0 0 5px; }
.date__info small { color: #333; font-size: 40px; }

.photos { margin: 0 -6px; font-size: 0; padding: 0 0 10px; }
.photos__medium, .photos__small { display: inline-block; vertical-align: top; padding: 0 5px 10px; position: relative; }
.photos__medium img, .photos__small img { width: 100%; }
.photos__medium { width: 50%; }
.photos__small { width: 33.33%; }
.photos__small:last-child { width: 33.34%; }
.photos__link { position: absolute; top: 0; left: 5px; right: 5px; bottom: 10px; transition: all 0.25s; text-align: center; font-size: 0; background-color: rgba(0, 0, 0, 0.5); }
.photos__link:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.photos__link span { display: inline-block; vertical-align: middle; color: #fff; font-family: "ProximaNova Semibold", Arial, sans-serif; font-size: 56px; line-height: 1; }



/*# sourceMappingURL=screen.css.map */