<div class="comments">
	<div class="comment-form">
		<div class="comment-form__img">
			<i class="icon-user"></i>
		</div>
		<div class="comment-form__info">
			<div class="comment-form__text">
				<p>Написать комментарий</p>
			</div>
			<button class="btn-blue">Отправить</button>
		</div>
	</div>
	<div class="all-comments">
		<div class="all-comments__title">3 Комментария</div>
		<div class="all-comments__inner">
			<div class="comment">
				<div class="user">
					<a href="#" class="user__inner">
						<img src="img/ava1.png" alt="" class="user__img">
						<div class="user__block">
							<span class="user__name">Лиза Леоненко</span>
							<ul class="user__info">
								<li>09 Ноября 14:32</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="comment__text">
					<p>Я по началу его вообще не представлял в этой роли, думал, что ему больше подходят комедийные роли, я никогда так не ошибался.</p>
				</div>
			</div>
			<div class="comment">
				<div class="user">
					<a href="#" class="user__inner">
						<img src="img/ava1.png" alt="" class="user__img">
						<div class="user__block">
							<span class="user__name">Ольга Кузнецова</span>
							<ul class="user__info">
								<li>09 Ноября 14:32</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="comment__text">
					<p>Эх, жаль на Родос не заедут, там тоже есть на что посмотреть!</p>
				</div>
			</div>
			<div class="comment">
				<div class="user">
					<a href="#" class="user__inner">
						<img src="img/ava1.png" alt="" class="user__img">
						<div class="user__block">
							<span class="user__name">Даша Шупик</span>
							<ul class="user__info">
								<li>09 Ноября 14:32</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="comment__text">
					<p>Как же тут прекрасно! Очень хочу побывать на Гоа.</p>
				</div>
			</div>
		</div>
	</div>
</div>