<!-- begin header  -->
<header class="header header_mod js-fixed">
	<div class="header__inner">
		<div class="header__logo">
			<a href="#" class="logo">
				<img src="img/logo.svg" alt="">
				<i class="logo__text"></i>
			</a>
		</div>		
		<div class="header__menu js-menu">
			<nav class="nav">
				<ul class="nav__list">
					<li><a href="#">маршрут</a></li>
					<li><a href="#">дневник</a></li>
					<li><a href="#">про проект</a></li>
					<li><a href="#">команда</a></li>
					<li><a href="#">библиотека</a></li>
					<li><a href="#">Топ</a></li>
					<li class="nav__search"><a href="#">Поиск</a></li>
				</ul>
			</nav>
			<button class="btn-search"></button>
		</div>
		<div class="header__date">
			<div class="header__day">
				<span>28</span>
				<small>Дней</small>
			</div>
			<div class="header__time">
				<span>07:29</span>
				<small class="is-left">часов</small>
				<small class="is-right">минут</small>
			</div>
		</div>
		<button class="btn-menu js-menu-btn"><span></span></button>
	</div>	
</header>
<!-- end header -->