<!-- begin header  -->
<header class="header">
	<a href="#" class="logo">
		<img src="img/logo.svg" alt="">
	</a>
	<div class="header__menu">
		<nav class="nav">
			<ul class="nav__list">
				<li><a href="#">маршрут</a></li>
				<li><a href="#">дневник</a></li>
				<li><a href="#">про проект</a></li>
				<li><a href="#" class="is-active">команда</a></li>
				<li><a href="#">библиотека</a></li>
				<li><a href="#">Топ</a></li>
			</ul>
		</nav>
		<button class="btn-search"></button>
	</div>
</header>
<!-- end header -->