<ul class="lil-info">
	<li>
		<a href="#" class="is-like">
			<i class="icon-like"></i>
			<span>Нравится</span>
		</a>
	</li>
	<li>
		<a href="#" class="is-dislike">
			<i class="icon-dislike"></i>
			<span>Не нравится</span>
		</a>
	</li>
	<li>
		<a href="#" class="is-comments">
			<i class="icon-comments"></i>
			<span>10 Комментариев</span>
		</a>
	</li>
	<li class="js-tooltip-parent">
		<a href="#" class="is-share">
			<i class="icon-share js-tooltip-icon"></i>
			<span>Поделиться</span>
		</a>
		<div class="tooltip js-tooltip">
			<div class="tooltip__inner">
				<ul class="tooltip__list">
					<li>
						<a href="#">
							<i class="icon-fb"></i>
							<span>8</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-vk"></i>
							<span>2</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</li>
</ul>