<div class="news">
	<div class="news__inner">
		<a href="#" class="news__left is-white">
			<img src="img/small3.png" alt="">
		</a>
		<div class="news__block">
			<ul class="news__info">
				<li><a href="#">Андрей Бедняков</a></li>
				<li><a href="#">11 Ноября 14:32</a></li>
			</ul>
			<p><a href="#">Пьем вино и встречаем рассвет в Барселоне</a></p>
		</div>
	</div>
</div>
<div class="news">
	<div class="news__inner">
		<a href="#" class="news__left is-white">
			<img src="img/small4.png" alt="">
		</a>
		<div class="news__block">
			<ul class="news__info">
				<li><a href="#">Андрей Бедняков</a></li>
				<li><a href="#">11 Ноября 14:32</a></li>
			</ul>
			<p><a href="#">Хороший день, перед обедом поплавал на серфе</a></p>
		</div>
	</div>
</div>
<div class="news">
	<div class="news__inner">
		<a href="#" class="news__left is-white">
			<img src="img/small4.png" alt="">
		</a>
		<div class="news__block">
			<ul class="news__info">
				<li><a href="#">Андрей Бедняков</a></li>
				<li><a href="#">11 Ноября 14:32</a></li>
			</ul>
			<p><a href="#">Хороший день, перед обедом поплавал на серфе</a></p>
		</div>
	</div>
</div>