<div class="news">
	<div class="news__inner">		
		<a href="#" class="news__left">
			<div class="news__left-in">
				<div class="news__icon">
					<i class="icon-like"></i>
					<span>372</span>
				</div>
			</div>
		</a>
		<div class="news__block">
			<ul class="news__info">
				<li><a href="#">Андрей Бедняков</a></li>
				<li><a href="#">11 Ноября 14:32</a></li>
			</ul>
			<p><a href="#">5 причин почему вы должны посетить Антверпен</a></p>
		</div>
	</div>
</div>
<div class="news">
	<div class="news__inner">	
		<a href="#" class="news__left">
			<div class="news__left-in">
				<div class="news__icon">
					<i class="icon-comments"></i>
					<span>42</span>
				</div>
			</div>
		</a>
		<div class="news__block">
			<ul class="news__info">
				<li><a href="#">Андрей Бедняков</a></li>
				<li><a href="#">11 Ноября 14:32</a></li>
			</ul>
			<p><a href="#">Остановились отдохнуть и увидели дельфинов</a></p>
		</div>
	</div>
</div>
<div class="news">
	<div class="news__inner">	
		<a href="#" class="news__left">
			<div class="news__left-in">
				<div class="news__icon">
					<i class="icon-share"></i>
					<span>18</span>
				</div>
			</div>
		</a>
		<div class="news__block">
			<ul class="news__info">
				<li><a href="#">Андрей Бедняков</a></li>
				<li><a href="#">11 Ноября 14:32</a></li>
			</ul>
			<p><a href="#">Хороший день, перед обедом поплавал на серфе</a></p>
		</div>
	</div>
</div>