<div class="popular-categories">
	<div class="popular-categories__item">
		<a href="#" class="category is-yellow" style="background-image: url(img/category1.jpg);">
			<span>Фото дня</span>
		</a>
	</div>
	<div class="popular-categories__item">
		<a href="#" class="category is-green" style="background-image: url(img/category2.jpg);">
			<span>Еда дня</span>
		</a>
	</div>
	<div class="popular-categories__item">
		<a href="#" class="category is-red" style="background-image: url(img/category3.jpg);">
			<span>Гид дня</span>
		</a>
	</div>
	<div class="popular-categories__item">
		<a href="#" class="category is-purple" style="background-image: url(img/category4.jpg);">
			<span>Мужчина дня</span>
		</a>
	</div>
	<div class="popular-categories__item">
		<a href="#" class="category is-green" style="background-image: url(img/category2.jpg);">
			<span>Еда дня</span>
		</a>
	</div>	
</div>