<div class="popup-wrapper js-popup">
	<div class="popup">
		<button class="popup__close js-popup-close"><i class="icon-close"></i></button>
		<div class="popup__body">
			<div class="popup-post">
				<div class="user">
					<a href="#" class="user__inner">
						<img src="img/ava1.png" alt="" class="user__img">
						<div class="user__block">
							<span class="user__name">Регина Тодоренко</span>
							<ul class="user__info">
								<li>09 Ноября 14:32</li>
								<li>Киев</li>
							</ul>
						</div>
					</a>
				</div>
				<h2 class="title-h2"><a href="#">Cделали для вас подборку лучших фотографий с Гоа</a></h2>
				<div class="gallery js-slick-gallery">
					<div class="gallery-main js-slick-for">
						<div class="gallery-main__slide">
							<img src="img/gallery-main.jpg" alt="">
						</div>
						<div class="gallery-main__slide">
							<img src="img/gallery-main.jpg" alt="">
						</div>
						<div class="gallery-main__slide">
							<img src="img/gallery-main.jpg" alt="">
						</div>
						<div class="gallery-main__slide">
							<img src="img/gallery-main.jpg" alt="">
						</div>
						<div class="gallery-main__slide">
							<img src="img/gallery-main.jpg" alt="">
						</div>
						<div class="gallery-main__slide">
							<img src="img/gallery-main.jpg" alt="">
						</div>
					</div>
					<div class="gallery-thumbs js-slick-nav">
						<div class="gallery-thumbs__slide">
							<img src="img/gallery-thumbs.jpg" alt="">
						</div>
						<div class="gallery-thumbs__slide">
							<img src="img/gallery-thumbs.jpg" alt="">
						</div>
						<div class="gallery-thumbs__slide">
							<img src="img/gallery-thumbs.jpg" alt="">
						</div>
						<div class="gallery-thumbs__slide">
							<img src="img/gallery-thumbs.jpg" alt="">
						</div>
						<div class="gallery-thumbs__slide">
							<img src="img/gallery-thumbs.jpg" alt="">
						</div>
						<div class="gallery-thumbs__slide">
							<img src="img/gallery-thumbs.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>