<div class="popup-wrapper js-popup" data-block="popup-gallery-text">
	<div class="overlay js-overlay"></div>
	<div class="popup js-popup-inner">
		<button class="popup__close js-popup-close"><i class="icon-close"></i></button>
		<div class="popup__body">
			<div class="popup-post">
				<div class="user">
					<a href="#" class="user__inner">
						<img src="img/ava1.png" alt="" class="user__img">
						<div class="user__block">
							<span class="user__name">Регина Тодоренко</span>
							<ul class="user__info">
								<li>09 Ноября 14:32</li>
								<li>Киев</li>
							</ul>
						</div>
					</a>
				</div>
				<h2 class="title-h2"><a href="#">Cделали для вас подборку лучших фотографий с Гоа</a></h2>
				<div class="gallery js-slick-gallery">
					<div class="gallery-main">
						<a href="#" class="gallery-prev js-gallery-prev">
							<i class="icon-ic-prev"></i>
						</a>
						<a href="#" class="gallery-next js-gallery-next">
							<i class="icon-ic-next"></i>
						</a>
						<div class="js-slick-for">
							<div class="gallery-main__slide">
								<img src="img/gallery-main.jpg" alt="">
							</div>
							<div class="gallery-main__slide">
								<img src="img/gallery-main.jpg" alt="">
							</div>
							<div class="gallery-main__slide">
								<img src="img/gallery-main.jpg" alt="">
							</div>
							<div class="gallery-main__slide">
								<img src="img/gallery-main.jpg" alt="">
							</div>
							<div class="gallery-main__slide">
								<img src="img/gallery-main.jpg" alt="">
							</div>
							<div class="gallery-main__slide">
								<img src="img/gallery-main.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="gallery-thumbs">
						<div class="gallery-thumbs__inner js-slick-nav">
							<div class="gallery-thumbs__slide">
								<img src="img/gallery-thumbs.jpg" alt="">
							</div>
							<div class="gallery-thumbs__slide">
								<img src="img/gallery-thumbs.jpg" alt="">
							</div>
							<div class="gallery-thumbs__slide">
								<img src="img/gallery-thumbs.jpg" alt="">
							</div>
							<div class="gallery-thumbs__slide">
								<img src="img/gallery-thumbs.jpg" alt="">
							</div>
							<div class="gallery-thumbs__slide">
								<img src="img/gallery-thumbs.jpg" alt="">
							</div>
							<div class="gallery-thumbs__slide">
								<img src="img/gallery-thumbs.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="popup__text">
					<p>Гоа имеет типичный субэкваториальный климат с резко выраженным сухим и влажным сезоном. На протяжении половины года в регионе (с мая по октябрь) господствует жаркая и влажная погода. Наиболее высокая температура наблюдается в мае, средний максимум составляет 33 °C, и даже в это время сохраняется высокая влажность воздуха (в марте — 73 %). Период муссонов начинается в июне и заканчивается в сентябре. В это время становится прохладнее, температура около 25—30 °C.</p>
				</div>
				<ul class="tags-full">
					<li><a href="#" class="tag-full">Регина</a></li>
					<li><a href="#" class="tag-full">Фотографии</a></li>
					<li><a href="#" class="tag-full">Гоа</a></li>
				</ul>
				//= lil-info.html
			</div>
			//= comments.html
		</div>
		<div class="row">
			<div class="row__inner">
				<h3 class="title-h3"><a href="#">Смотреть еще</a></h3>
				<div class="cols">
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="popup-wrapper js-popup" data-block="popup-gallery">
	<div class="overlay js-overlay"></div>
	<div class="popup js-popup-inner">
		<button class="popup__close js-popup-close"><i class="icon-close"></i></button>
		<div class="popup__body">
			<div class="popup-post">
				<div class="user">
					<a href="#" class="user__inner">
						<img src="img/ava1.png" alt="" class="user__img">
						<div class="user__block">
							<span class="user__name">Регина Тодоренко</span>
							<ul class="user__info">
								<li>09 Ноября 14:32</li>
								<li>Киев</li>
							</ul>
						</div>
					</a>
				</div>
				<h2 class="title-h2"><a href="#">Cделали для вас подборку лучших фотографий с Гоа</a></h2>
				<div class="gallery js-slick-gallery">
					<div class="gallery-main">
						<a href="#" class="gallery-prev js-gallery-prev">
							<i class="icon-ic-prev"></i>
						</a>
						<a href="#" class="gallery-next js-gallery-next">
							<i class="icon-ic-next"></i>
						</a>
						<div class="js-slick-for">
							<div class="gallery-main__slide">
								<img src="img/gallery-main.jpg" alt="">
							</div>
							<div class="gallery-main__slide">
								<img src="img/gallery-main.jpg" alt="">
							</div>
							<div class="gallery-main__slide">
								<img src="img/gallery-main.jpg" alt="">
							</div>
							<div class="gallery-main__slide">
								<img src="img/gallery-main.jpg" alt="">
							</div>
							<div class="gallery-main__slide">
								<img src="img/gallery-main.jpg" alt="">
							</div>
							<div class="gallery-main__slide">
								<img src="img/gallery-main.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="gallery-thumbs">
						<div class="gallery-thumbs__inner js-slick-nav">
							<div class="gallery-thumbs__slide">
								<img src="img/gallery-thumbs.jpg" alt="">
							</div>
							<div class="gallery-thumbs__slide">
								<img src="img/gallery-thumbs.jpg" alt="">
							</div>
							<div class="gallery-thumbs__slide">
								<img src="img/gallery-thumbs.jpg" alt="">
							</div>
							<div class="gallery-thumbs__slide">
								<img src="img/gallery-thumbs.jpg" alt="">
							</div>
							<div class="gallery-thumbs__slide">
								<img src="img/gallery-thumbs.jpg" alt="">
							</div>
							<div class="gallery-thumbs__slide">
								<img src="img/gallery-thumbs.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<ul class="tags-full">
					<li><a href="#" class="tag-full">Регина</a></li>
					<li><a href="#" class="tag-full">Фотографии</a></li>
					<li><a href="#" class="tag-full">Гоа</a></li>
				</ul>
				//= lil-info.html
			</div>
			//= comments.html
		</div>
		<div class="row">
			<div class="row__inner">
				<h3 class="title-h3"><a href="#">Смотреть еще</a></h3>
				<div class="cols">
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="popup-wrapper js-popup" data-block="popup-city">
	<div class="overlay js-overlay"></div>
	<div class="popup js-popup-inner">
		<button class="popup__close js-popup-close"><i class="icon-close"></i></button>
		<div class="popup-long" style="background-image: url(img/long.jpg);">
			<div class="popup-long__inner">
				<a href="#" class="popup-long__date">
					<i class="icon-plane-small"></i>
					<time>Прилетим 10 Ноября</time>
				</a>
				<div class="popup-long__text">
					<h2 class="popup-long__title">Гринвич</h2>
					<p>Морские ворота Лондона, историческое предместье, а теперь — один из 32 лондонских боро, находится во внутреннем Лондоне, на юго-востоке британской столицы, на правом берегу Темзы.</p>
				</div>
			</div>
		</div>
		<div class="popup__body">
			//= comments.html
		</div>
		<div class="row">
			<div class="row__inner">
				<h3 class="title-h3"><a href="#">Смотреть еще</a></h3>
				<div class="cols">
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="popup-wrapper js-popup" data-block="popup-map">
	<div class="overlay js-overlay"></div>
	<div class="popup js-popup-inner">
		<button class="popup__close js-popup-close"><i class="icon-close"></i></button>
		<div class="popup__body">
			<div class="popup-post">
				<div class="user">
					<a href="#" class="user__inner">
						<img src="img/ava1.png" alt="" class="user__img">
						<div class="user__block">
							<span class="user__name">Регина Тодоренко</span>
							<ul class="user__info">
								<li>09 Ноября 14:32</li>
								<li>Киев</li>
							</ul>
						</div>
					</a>
				</div>
				<h2 class="title-h2"><a href="#">Самые вкусные бургеры в городе</a></h2>
				<div class="map">
					<div id="map2" class="map__inner"></div>
				</div>
				<ul class="tags-full">
					<li><a href="#" class="tag-full">Регина</a></li>
					<li><a href="#" class="tag-full">Фотографии</a></li>
					<li><a href="#" class="tag-full">Гоа</a></li>
				</ul>
				//= lil-info.html
			</div>
			//= comments.html
		</div>
		<div class="row">
			<div class="row__inner">
				<h3 class="title-h3"><a href="#">Смотреть еще</a></h3>
				<div class="cols">
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="popup-wrapper js-popup" data-block="popup-image">
	<div class="overlay js-overlay"></div>
	<div class="popup js-popup-inner">
		<button class="popup__close js-popup-close"><i class="icon-close"></i></button>
		<div class="popup__body">
			<div class="popup-post">
				<div class="user">
					<a href="#" class="user__inner">
						<img src="img/ava1.png" alt="" class="user__img">
						<div class="user__block">
							<span class="user__name">Регина Тодоренко</span>
							<ul class="user__info">
								<li>09 Ноября 14:32</li>
								<li>Киев</li>
							</ul>
						</div>
					</a>
				</div>
				<h2 class="title-h2"><a href="#">Cделали для вас подборку лучших фотографий с Гоа</a></h2>
				<div class="post__img">					
					<img src="img/post1.png" alt="">
				</div>
				<ul class="tags-full">
					<li><a href="#" class="tag-full">Регина</a></li>
					<li><a href="#" class="tag-full">Фотографии</a></li>
					<li><a href="#" class="tag-full">Гоа</a></li>
				</ul>
				//= lil-info.html
			</div>
			//= comments.html
		</div>
		<div class="row">
			<div class="row__inner">
				<h3 class="title-h3"><a href="#">Смотреть еще</a></h3>
				<div class="cols">
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="popup-wrapper js-popup" data-block="popup-image-text">
	<div class="overlay js-overlay"></div>
	<div class="popup js-popup-inner">
		<button class="popup__close js-popup-close"><i class="icon-close"></i></button>
		<div class="popup__body">
			<div class="popup-post">
				<div class="user">
					<a href="#" class="user__inner">
						<img src="img/ava1.png" alt="" class="user__img">
						<div class="user__block">
							<span class="user__name">Регина Тодоренко</span>
							<ul class="user__info">
								<li>09 Ноября 14:32</li>
								<li>Киев</li>
							</ul>
						</div>
					</a>
				</div>
				<h2 class="title-h2"><a href="#">Cделали для вас подборку лучших фотографий с Гоа</a></h2>
				<div class="post__img">					
					<img src="img/post1.png" alt="">
				</div>
				<div class="popup__text">
					<p>Гоа имеет типичный субэкваториальный климат с резко выраженным сухим и влажным сезоном. На протяжении половины года в регионе (с мая по октябрь) господствует жаркая и влажная погода. Наиболее высокая температура наблюдается в мае, средний максимум составляет 33 °C, и даже в это время сохраняется высокая влажность воздуха (в марте — 73 %). Период муссонов начинается в июне и заканчивается в сентябре. В это время становится прохладнее, температура около 25—30 °C.</p>
				</div>
				<ul class="tags-full">
					<li><a href="#" class="tag-full">Регина</a></li>
					<li><a href="#" class="tag-full">Фотографии</a></li>
					<li><a href="#" class="tag-full">Гоа</a></li>
				</ul>
				//= lil-info.html
			</div>
			//= comments.html
		</div>
		<div class="row">
			<div class="row__inner">
				<h3 class="title-h3"><a href="#">Смотреть еще</a></h3>
				<div class="cols">
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="popup-wrapper js-popup" data-block="popup-text">
	<div class="overlay js-overlay"></div>
	<div class="popup js-popup-inner">
		<button class="popup__close js-popup-close"><i class="icon-close"></i></button>
		<div class="popup-image" style="background-image: url(img/popup-image.jpg);">
			<div class="popup-image__inner">
				<div class="user">
					<a href="#" class="user__inner">
						<img src="img/ava1.png" alt="" class="user__img">
						<div class="user__block">
							<span class="user__name">Регина Тодоренко</span>
							<ul class="user__info">
								<li>09 Ноября 14:32</li>
								<li>Киев</li>
							</ul>
						</div>
					</a>
				</div>
				<h2 class="title-h2">Cделали для вас подборку лучших фотографий с Гоа</h2>
			</div>
		</div>
		<div class="popup__body">
			<div class="popup-post">
				<div class="popup__text">
					<p>Площадь Гоа составляет всего 3702 км², протяженность с севера на юг 105 км, с запада на восток максимально 65 км. Таким образом, Гоа является самым маленьким из двадцати восьми штатов Индии. Гоа расположен в средней части западного побережья Индии. На севере он граничит со штатом Махараштра, на юге и востоке — с Карнатакой, на западе омывается Аравийским морем. Длина береговой линии составляет 101 км.</p>
					<p>Узкая полоса побережья отделяет море от горного плато, на востоке переходящего в отроги Западных Гат. Горная цепь Западные Гаты (Сахьядри) представляет собой западную возвышенную окраину Деканского плоскогорья длиной около 1800 км. Западные Гаты занимают около 15 % площади штата, их средняя высота 1200 м. Самая высокая точка Гоа достигает 1167 м над уровнем моря. Береговая линия Гоа изрезана устьями рек, большинство которых берет своё начало в Западных Гатах. Крупнейшими реками являются Мандови, Зуари и Чапора.</p>
					<p>Гоа имеет типичный субэкваториальный климат с резко выраженным сухим и влажным сезоном. На протяжении половины года в регионе (с мая по октябрь) господствует жаркая и влажная погода. Наиболее высокая температура наблюдается в мае, средний максимум составляет 33 °C, и даже в это время сохраняется высокая влажность воздуха (в марте — 73 %). Период муссонов начинается в июне и заканчивается в сентябре. В это время становится прохладнее, температура около 25—30 °C.</p>
				</div>
				<ul class="tags-full">
					<li><a href="#" class="tag-full">Регина</a></li>
					<li><a href="#" class="tag-full">Фотографии</a></li>
					<li><a href="#" class="tag-full">Гоа</a></li>
				</ul>
				//= lil-info.html
			</div>
			//= comments.html
		</div>
		<div class="row">
			<div class="row__inner">
				<h3 class="title-h3"><a href="#">Смотреть еще</a></h3>
				<div class="cols">
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="popup-wrapper js-popup" data-block="popup-video">
	<div class="overlay js-overlay"></div>
	<div class="popup js-popup-inner">
		<button class="popup__close js-popup-close"><i class="icon-close"></i></button>
		<div class="popup__body">
			<div class="popup-post">
				<div class="user">
					<a href="#" class="user__inner">
						<img src="img/ava1.png" alt="" class="user__img">
						<div class="user__block">
							<span class="user__name">Регина Тодоренко</span>
							<ul class="user__info">
								<li>09 Ноября 14:32</li>
								<li>Киев</li>
							</ul>
						</div>
					</a>
				</div>
				<h2 class="title-h2"><a href="#">Cделали для вас подборку лучших фотографий с Гоа</a></h2>
				<div class="video">
					<iframe src="https://www.youtube.com/embed/FA_8TY9Z5Zg" frameborder="0" allowfullscreen></iframe>
				</div>
				<ul class="tags-full">
					<li><a href="#" class="tag-full">Регина</a></li>
					<li><a href="#" class="tag-full">Фотографии</a></li>
					<li><a href="#" class="tag-full">Гоа</a></li>
				</ul>
				//= lil-info.html
			</div>
			//= comments.html
		</div>
		<div class="row">
			<div class="row__inner">
				<h3 class="title-h3"><a href="#">Смотреть еще</a></h3>
				<div class="cols">
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="popup-wrapper js-popup" data-block="popup-category">
	<div class="overlay js-overlay"></div>
	<div class="popup js-popup-inner">
		<button class="popup__close js-popup-close"><i class="icon-close"></i></button>
		<div class="popup-image" style="background-image: url(img/popup-image.jpg);">
			<div class="popup-image__inner">
				<span class="sticker is-blue">спецпроект от kyivstar</span>
				<div class="user">
					<a href="#" class="user__inner">
						<img src="img/ava1.png" alt="" class="user__img">
						<div class="user__block">
							<span class="user__name">Регина Тодоренко</span>
							<ul class="user__info">
								<li>09 Ноября 14:32</li>
								<li>Киев</li>
							</ul>
						</div>
					</a>
				</div>
				<h2 class="title-h2">Cделали для вас подборку лучших фотографий с Гоа</h2>
			</div>
		</div>
		<div class="popup__body">
			<div class="popup-post">
				<div class="popup__text">
					<p>Площадь Гоа составляет всего 3702 км², протяженность с севера на юг 105 км, с запада на восток максимально 65 км. Таким образом, Гоа является самым маленьким из двадцати восьми штатов Индии. Гоа расположен в средней части западного побережья Индии. На севере он граничит со штатом Махараштра, на юге и востоке — с Карнатакой, на западе омывается Аравийским морем. Длина береговой линии составляет 101 км.</p>
					<p>Узкая полоса побережья отделяет море от горного плато, на востоке переходящего в отроги Западных Гат. Горная цепь Западные Гаты (Сахьядри) представляет собой западную возвышенную окраину Деканского плоскогорья длиной около 1800 км. Западные Гаты занимают около 15 % площади штата, их средняя высота 1200 м. Самая высокая точка Гоа достигает 1167 м над уровнем моря. Береговая линия Гоа изрезана устьями рек, большинство которых берет своё начало в Западных Гатах. Крупнейшими реками являются Мандови, Зуари и Чапора.</p>
					<figure>
						<img src="img/popup-category.jpg" alt="">
						<figcaption>Ароссим, лучший пляж на Гоа</figcaption>
					</figure>
					<p>Гоа имеет типичный субэкваториальный климат с резко выраженным сухим и влажным сезоном. На протяжении половины года в регионе (с мая по октябрь) господствует жаркая и влажная погода. Наиболее высокая температура наблюдается в мае, средний максимум составляет 33 °C, и даже в это время сохраняется высокая влажность воздуха (в марте — 73 %). Период муссонов начинается в июне и заканчивается в сентябре. В это время становится прохладнее, температура около 25—30 °C.</p>
				</div>
				<ul class="tags-full">
					<li><a href="#" class="tag-full">Регина</a></li>
					<li><a href="#" class="tag-full">Фотографии</a></li>
					<li><a href="#" class="tag-full">Гоа</a></li>
				</ul>
				//= lil-info.html
			</div>
			//= comments.html
		</div>
		<div class="row">
			<div class="row__inner">
				<h3 class="title-h3"><a href="#">Смотреть еще</a></h3>
				<div class="cols">
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col col_mod">
						<div class="col__img">
							<img src="img/col.png" alt="">
						</div>
						<p>Паста с креветками в соусе чили и лимонадом</p>				
						<ul class="lil-info">
							<li>
								<a href="#" class="is-like">
									<i class="icon-like"></i>
									<span>173</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-dislike">
									<i class="icon-dislike"></i>
									<span>12</span>
								</a>
							</li>
							<li>
								<a href="#" class="is-comments">
									<i class="icon-comments"></i>
									<span>10</span>
								</a>
							</li>
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="popup-wrapper js-popup" data-block="popup-quote">
	<div class="overlay js-overlay"></div>
	<div class="popup js-popup-inner">
		<button class="popup__close js-popup-close"><i class="icon-close"></i></button>
		<div class="popup-quote">
			<div class="popup-quote__info">
				<div class="popup-quote__title">цитата дня</div>
				<blockquote class="popup-quote__blockquote">Человека делают счастливым три вещи: любовь, интересная работа и возможность путешествовать</blockquote>
				<div class="popup-quote__name">Регина Тодоренко</div>
			</div>
			<div class="popup-quote__img">
				<img src="img/quote-img.png" alt="">
			</div>
		</div>
		<div class="popup__body">
			<div class="popup-post">
				<ul class="tags-full">
					<li><a href="#" class="tag-full">Регина</a></li>
					<li><a href="#" class="tag-full">Фотографии</a></li>
					<li><a href="#" class="tag-full">Гоа</a></li>
				</ul>
				//= lil-info.html
			</div>
			//= comments.html
		</div>
	</div>
</div>