<div class="popup-wrapper js-popup" data-block="popup-videos">
	<div class="overlay js-overlay"></div>
	<div class="popup js-popup-inner">
		<div class="js-popup-fixed popup__close-wrap">
			<div class="popup__close-wrap-in">
				<button class="popup__close js-popup-close"><i class="icon-close"></i></button>
			</div>
		</div>
		<div class="popup__body">
			<div class="popup-post">
				<h3 class="title-h3"><a href="#">Анонс Эпизода 2: Дюссельдорф</a></h3>
				<div class="video">
					<iframe src="https://www.youtube.com/embed/FA_8TY9Z5Zg" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row__inner">
				<div class="row__top">
					<h3 class="title-h3"><a href="#">Смотреть еще</a></h3>
					<a href="#" class="link-video">
						<i class="icon-camera"></i>
						<span>Все видео</span>
					</a>
				</div>
				<div class="cols">
					<div class="p-video">
						<a href="#" class="play-btn" style="background-image: url(https://placecage.com/200/200);">
							<span class="play-icon"><i class="icon-play"></i></span>
						</a>
						<div class="p-video__text">Эпизод 9: Вашингтон</div>
					</div>
					<div class="p-video">
						<a href="#" class="play-btn" style="background-image: url(https://placecage.com/200/200);">
							<span class="play-icon"><i class="icon-play"></i></span>
						</a>
						<div class="p-video__text">Эпизод 9: Вашингтон</div>
					</div>
					<div class="p-video">
						<a href="#" class="play-btn" style="background-image: url(https://placecage.com/200/200);">
							<span class="play-icon"><i class="icon-play"></i></span>
						</a>
						<div class="p-video__text">Эпизод 9: Вашингтон</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>